@import url('normalize.css');
// NOTE: We're using a `.th-` namespace to indicate these are the boilerplate
// styles.
@import './scss/_settings';
@import './scss/_type';
@import './scss/_layout';
@import './scss/_welcome';
@import './scss/_widgets';

/* css for fragments */
@import './scss/_header';
@import './scss/_footer';

@import './scss/_thirstie';