
{% set marqueeImage = apos.image.first(data.widget.marqueeImage or {}) %}
{% set marqueeImageUrl = apos.attachment.url(marqueeImage, { size: 'full' }) %}
{% set altText = marqueeImage.title %}
{% set figureStyle = data.widget.figureStyle or 'background-image' %}

{%if figureStyle == 'background-image' %}
  {% set widgetFormat = 'background' %}
    <!--background image-->
    {% set imageSide = 'background' %}
{% else %}
  {% set widgetFormat = 'side' %}
  {% if data.widget.imageSide == 'left' %}
    <!--left side image-->
    {% set imageSide = 'left' %}
  {% else %}
    <!--right side image-->
    {% set imageSide = 'right' %}
  {% endif %}
{% endif %}

<div class="m-0 p-0 w-full marquee-widget__container">
  <figure class="m-0 p-0 marquee-widget__figure-{{ widgetFormat }} marquee-widget__figure-image-{{ imageSide }}">
    {% if data.widget.mediaType == 'image' %}
    <img src="{{ marqueeImageUrl }}" alt="{{ altText }}" />
    {% elif data.widget.mediaType == 'gallery' %}
      <swiper-container
        class="marquee-widget-swiper__container"
        space-between="10"
        centered-slides="true"
        navigation="false"
        pagination="false"
        autoplay-delay="3500"
        autoplay-disable-on-interaction="true"
        loop="true"
      >
        {% for image in data.widget._galleryImages %}
          {% set imgAttachment = apos.image.first(image or {}) %}
          {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
          {% set altImageAltText = imgAttachment.title or "image" %}
          <swiper-slide>
            <div class="marquee-widget-swiper__img-container">
              <img
              class="md:w-screen marquee-widget-swiper__img"
              src="{{ altImageUrl }}" 
              alt="{{altImageAltText}}"
            /></div>
          </swiper-slide>
        {% endfor %}
      </swiper-container>
    {% elif data.widget.mediaType == 'video' %}
      <video class="marquee__video" src="{{ data.widget.marqueeVideoUrl }}" poster="{{ marqueeImageUrl }}" autoplay muted loop></video>
    {% endif %}
    <figcaption class="flex flex-col h-full marquee-widget__caption">
      {% if data.widget.title %}
        <h2 class="marquee-widget__title">{{ data.widget.title }}</h2>
      {% endif %}
      <div class="marquee-widget__caption-content">
        {% if data.widget.caption.items[0].type === "@apostrophecms/rich-text" %}
          {{ apos.area.richText(data.widget.caption) }}
        {% elif data.widget.caption.items[0].type === "@apostrophecms/html" %}
          {{ data.widget.caption.items[0].code | safe }}
        {% endif %}
      </div>
      {% if data.widget.ctaType != 'none' %}
        <button class="marquee-widget__cta-button">
        {% if data.widget.ctaType == 'productDetailPage' and data.widget._ctaProductDetailPage.length > 0 %}
          {% set ctaNav = data.widget._ctaProductDetailPage[0] %}
            <a href="{{ ctaNav._url }}" class="marquee-widget__cta-link" {% if data.widget.ctaNewPage %}target="_blank" rel="noopener"{% endif %}>{{ data.widget.ctaText }}</a>
        {% elif data.widget.ctaType == 'externalLink' %}
          <a href="{{ data.widget.ctaExternalUrl }}" class="marquee-widget__cta-link" {% if data.widget.ctaNewPage %}target="_blank" rel="noopener"{% endif %}>{{ data.widget.ctaText }}</a>
        {% elif data.widget.ctaType == 'pageLink' and data.widget._ctaPageLink.length > 0 %}
          {% set ctaNav = data.widget._ctaPageLink[0] %}
            <a href="{{ ctaNav._url }}" class="marquee-widget__cta-link" {% if data.widget.ctaNewPage %}target="_blank" rel="noopener"{% endif %}>{{ data.widget.ctaText }}</a>
        {% endif %}
        </button>
      {% endif %}
    </figcaption>
  </figure>

</div>