{% extends "layout.html" %}

{% block beforeMain %}
<div class="th-wrapper">
  {% render headerFragment.heading() %}
  <div class="th-inner-wrapper">
      <main class="th-main">
{% endblock %}

{% block main %}
  <section class="th-faq">
    <div class="th-faq__area">
      <h1>Frequently Asked Questions</h1>
      <div class="th-faq-container max-w-screen-lg my-4 mx-auto">
        <div class="th-faq__top-content my-4 mx-0">
          <div class="mt-4 mb-2 py-2">
            <span class="th-faq__primary-text font-bold text-lg">Your Order</span>
          </div>
          <div class="text-base my-4 mx-auto th-faq__normal-text">
            Orders are fulfilled by licensed beverage alcohol retailers on the Thirstie 
            network. Retailers advertise beverage alcohol products for sale on this site 
            at their own discretion and are solely responsible for pricing.
          </div>
        </div>
        <hr>
        <ul class="list-disc pt-3 th-faq__top-list">
          <li class="mb-4 list-none">
            <th-collapsible header="When will my order ship?">
              <div class=" my-2 mx-auto th-faq__normal-text">Orders are fulfilled by licensed beverage alcohol retailers on the Thirstie 
              network. It is our goal for all orders to be fulfilled and
              shipped within 2-5 business days after an order is placed.
              Fulfillment time depends on what day the order is placed, the
              time of the day and if the product is currently in stock. We
              strive to notify customers if there are any product
              out-of-stock issues, weather delays or carrier issues. If you
              have not received an email notification with tracking
              information within 4 business days, please contact
              <a href="mailto:{{data.global.supportEmail}}">{{ data.global.supportEmail }}</a>
              for assistance, or vist our 
              <a href="/order-status-update" target="_blank" aria-label="order status update -  opens in new tab">order status update</a> page.
              </div>
            </th-collapsible>
          </li>
          <li class="mb-4 list-none">
            <th-collapsible header="Do I need to sign for my order?">
              <div class=" my-2 mx-auto th-faq__normal-text">
              All shipments containing alcohol require an adult signature (21 years or
              older) upon delivery. Please plan accordingly and
              monitor tracking information for shipments. Please keep a
              valid form of ID on hand upon delivery.
              </div>
             </th-collapsible>
          </li>
          <li class="mb-4 list-none">
            <th-collapsible header="How can I track my order?">
              <div class=" my-2 mx-auto th-faq__normal-text">
              Please visit our <a
              :href="'/order-status-update'"
              target="_blank"
              aria-label="order status update -  opens in new tab"
              >order status update</a>
              page to see the current status of your order. You will need the order number
              that was provided when you received your confirmation, and the email that you
              used when placing the order.
              </div>
            </th-collapsible>
          </li>
          <li class="mb-4 list-none">
            <th-collapsible header="How much does shipping cost?">
              <div class=" my-2 mx-auto th-faq__normal-text">
              Shipping costs vary depending on where you are shipping and
              how much product you order. Thirstie does our best to keep costs as
              low as possible.
              </div>
            </th-collapsible>
          </li>
          <li class="mb-4 list-none">
            <th-collapsible header="What's your return policy?">
              <div class=" my-2 mx-auto th-faq__normal-text">
              We are not able to accept any returns or exchanges, and do not
              provide any refunds. If you have a question about the product,
              please feel free to reach out to us via email
              <a href="mailto:{{data.global.supportEmail}}">{{ data.global.supportEmail }}</a>.
              </div>
            </th-collapsible>
          </li>
          <li class="mb-4 list-none">
            <th-collapsible header="How is my order being shipped?">
              <div class=" my-2 mx-auto th-faq__normal-text">
              Your order will be processed by a licensed retailer on the
              Thirstie network. The retailer has discretion over what
              carrier service is used. Note that US Postal Service regulations
              prohibit the delivery of beverage alcohol to a PO box.
              </div>
            </th-collapsible>
          </li>
          <li class="mb-4 list-none">
            <th-collapsible header="Why are the prices different for different delivery areas?">
              <div class=" my-2 mx-auto th-faq__normal-text">
              Orders are fulfilled by licensed beverage alcohol retailers on the
              Thirstie network. Retailers advertise beverage alcohol products for sale
              on this site at their own discretion and are solely responsible for pricing.
              </div>
            </th-collapsible>
          </li>
        </ul>
      </div>
    </div>

    <div>
      {% area data.page, 'additionalContent' %}
    </div>
  </section>
{% endblock %}


{% block afterMain %}
    {% render footerFragment.footer() %}
    </main>{# Close .th-main #}
  </div>
</div>{# Close .th-wrapper #}
{% endblock %}

