/* NOTE: styles which depend on global settings are defined in customStyles */

.th-footer {
  display: block;
  height: var(--footer-height, 40vh);
  width: 100vw;
  padding: 0;
  margin: 4rem 0 0;
}
.th-footer-content {
  color: var(--footer-text-color, var(--secondary-contrasting-color));
  height: var(--footer-height, 40vh);
  width: 100%;
  grid-template-rows: 3rem minmax(0, 1fr) minmax(0, 1fr);
}
.th-footer-nav {
  grid-column: 1 / 3;
  grid-row: 1 ;
}

.th-footer-nav__links {
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 20px;
  }
  li a {
    text-decoration: none;
    color: inherit;
  }
  li:last-child { margin-right: 0; }
}

.th-footer-top {
  width: auto;
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 2 ;
  padding: 0 0 1rem;
}

.th-footer-thirstie {
  padding: 0 1rem;
  text-align: left;
  line-height: 1.25rem;
  padding: 0 .5rem 2rem;
  grid-column: 1;
  grid-row: 3 ; 
}
.th-footer-brand {
  text-align: right;
  padding: 0 0 2rem;
  grid-column: 2;
  grid-row: 3 ; 
}
.th-footer-brand__logo {}
.th-disclaimer-content {
  color: var(--footer-text-color, var(--secondary-contrasting-color));
}
.th-disclaimer-logo {
  color: var(--footer-text-color, var(--secondary-contrasting-color));
  vertical-align: middle;
  height: 1rem;
}