/* NOTE: styles which depend on global settings are defined in customStyles */

.th-footer {
  display: block;
  height: var(--footer-height, 40vh);
  width: 100vw;
  margin: 4rem 0 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--footer-text-color, var(--secondary-contrasting-color));
  background-color: var(--footer-background-color, var(--secondary-color));
}
.th-footer-content {
  color: var(--footer-text-color, var(--secondary-contrasting-color));
  height: 100%;
  width: 100%;
  grid-template-rows: 3rem minmax(0, 1fr) minmax(0, 1fr);
  padding: 0 4rem;
  box-sizing: border-box;
}

.th-footer-grid-row-1 {
  grid-row: 1 ;
}
.th-footer-grid-row-2 {
  grid-row: 2 ;
}
.th-footer-grid-row-3 {
  grid-row: 3 ;
}

.th-footer-nav {
  grid-column: 1 / 3;
}
.th-footer-nav__links {
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 20px;
  }
  li a {
    text-decoration: none;
    color: inherit;
  }
  li:last-child { margin-right: 0; }
}

.th-footer-top {
  width: auto;
  text-align: center;
  grid-column: 1 / 3;
  padding: 0 0 1rem;
}

.th-footer-thirstie {
  padding: 0 1rem;
  text-align: left;
  line-height: 1.25rem;
  padding: 0 .5rem 2rem;
  grid-column: 1;
}
.th-footer-brand {
  text-align: right;
  padding: 0 0 2rem;
  grid-column: 2;
}
.th-disclaimer-content {
  color: var(--footer-text-color, var(--secondary-contrasting-color));
}
.th-disclaimer-logo {
  color: var(--footer-text-color, var(--secondary-contrasting-color));
  vertical-align: middle;
  height: 1rem;
}

@media screen and (max-width: 768px) {
  .th-footer,
  .th-footer-content {
    height: 100%;
  }

  .th-footer-thirstie {
    padding: 0 ;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.25rem;
    padding: 0 .5rem 2rem;
  }
  .th-footer-brand {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 2rem;
  }
}