.th-header {
  box-sizing:border-box;
  background-color: var(--header-background-color, #000);
  color: var(--header-text-color, #fff);
  font-family: var(--header-font-family, inherit);
  font-weight: var(--header-font-weight, inherit);
  position: fixed !important;
  width: 100%;
  z-index: 3;
  top:0;
  left:0;
}

#apos-admin-bar ~ [data-apos-refreshable] .th-wrapper .th-header {
  top: 7rem;
  left: 0;
}
body[data-breakpoint-preview-mode] #apos-admin-bar ~ [data-apos-refreshable] .th-wrapper .th-header {
  top: 0;
  left: 0;
}

.th-header__banner {
  box-sizing:border-box;
  background-color: var(--banner-background-color, var(--th-primary-contrasting-color, #BA8808));
  font-family: var(--banner-font-family, var(--primary-font-family));
  height: 3rem;
  padding: 1rem 0;
}
.th-header__banner * {
  color: var(--banner-text-color, var(--th-primary-color, #FFF1CC));
  text-decoration: none;
}
.th-header__banner > p {
  box-sizing: border-box;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}
.th-header-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto 0;
  cursor: pointer;
}

.th-header__logo {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 4.375em;
  margin: 0 auto;
  object-fit: contain;
}
.th-header__logo.nav--format--short {
  max-height: 2.75rem;
}
.th-navbar {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 6.875rem;
  line-height: 4rem;
}

.th-navbar.nav--format--short {
  height: 4.375rem;
}
.th-navbar a {
  color: var(--header-text-color, #000);
  text-decoration: none;
}
.nav-el {
  margin: 0;
  padding: 0;
  height: auto;
  text-align: center;
}
.nav-el:hover > a {
  text-decoration: underline;
}
.nav-logo {
  display: flex;
  float: none;
  justify-content: center;
  vertical-align: middle;
  width: 70vw;
  order: 2;
}
.nav-profile {
  box-sizing: border-box;
  width: 15vw;
  order:3;
  padding-right: 1rem;
}
.nav-menu {
  margin: 0;
  padding: 0;
  clear: both;
  order:1;
  width:15vw;
}
.nav-items {
  background-color: var(--header-background-color, #000);
  color: var(--header-text-color, #fff);
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: max-height .2s ease-out;
  line-height: 1.25rem;
}
.nav-subitems {
  background-color: var(--header-background-color, #000);
  color: var(--header-text-color, #fff);
  margin: 0;
  padding: 1rem 0;
}
ul.nav-items,
ul.nav-subitems {
  overflow: hidden;
  list-style-type: none;
}
.nav-items li,
.nav-subitems li {
  padding: 0 .25rem;
}

.nav-menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  max-width: 15%;
}
.nav-menu-icon .nav-icon {
  background-color: var(--header-text-color, #333);
  display: block;
  height: .125rem;
  position: relative;
  transition: background-color .2s ease-out;
  width: 1.125rem;
}
.nav-menu-icon .nav-icon:before,
.nav-menu-icon .nav-icon:after {
  display: block;
  background: var(--header-text-color, #333);
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.nav-menu-icon .nav-icon:before {
  top: .375rem
}
.nav-menu-icon .nav-icon:after {
  top: -.375rem
}
.nav-menu-btn {
  display: none;
}

/* nav button click behavior */
.nav-menu-btn:checked ~ .nav-items {
  position:absolute;
  top: var(--header-offset, 4rem);
  width:100%;
  min-height: 95vh;
  overflow-y: scroll;
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon {
  background: transparent;
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:before {
  transform: rotate(-45deg);
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:after {
  transform: rotate(45deg);
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:before,
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:after {
  top:0;
}

@media screen and (min-width: 768px) {
  .th-navbar {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 2rem;
  }
  .nav-el {
    margin: 0;
    padding: 0 .5rem;
    height: auto;
    text-align: center;
    font-size: var(--header-font-size, 1rem);
  }
  .nav-subitems > .nav-el {
    padding: .5rem 1rem;
    text-align: left;
  }
  .nav-logo {
    display: flex;
    float: none;
    justify-content: flex-start;
    width: 12.5%;
    order: 1;
  }
  .nav-menu {
    width: 75%;
    order: 2;
  }
  .nav-items {
    clear: none;
    max-height: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: transparent;
  }
  .nav-subitems {
    position: absolute;
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    padding: 1rem 0;
    box-shadow: 0 10px 15px rgba(115, 115, 115, .4509803922);
  }
  .nav-el--has-subitems:hover .nav-subitems {
    display: flex;
  }
  .nav-profile {
    position:relative;
    display: flex;
    float: none;
    justify-content: flex-end;
    width: 12.5%;
    order:3;
  }
  
  .nav--format--shadow {
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
  }

  .nav--format-center {
    position: relative;
    .nav-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      order: 2;
      justify-content: center;
    }
    .nav-menu {
      width: auto;
      order: 1;
      flex: 1;
      justify-content: flex-start;
      line-height: 1;
    }
    .nav-items {
      width: 46.875%;
    }
    .nav-profile {
      width: auto;
      flex: 0 1 auto;
    }
  }

  .nav-menu-icon {
    display:none;
  }
  .th-navbar .nav-menu-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  ul.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .nav-items li {
    padding: 1rem 0;
    font-size: 24px;
    font-weight: 700;
  }
  .nav-subitems {
    padding: 0.75rem 0 0;
  }
  .nav-subitems li {
    font-size: 16px;
    font-weight: 400;
    padding: 1.5rem 0 0;
  }
}
