.th-header {
  box-sizing:border-box;
  box-shadow: 1px 1px 4px 0 color-mix(in srgb, var(--primary-color), #FFF 80%);
  background-color: #fff;
  position: fixed !important;
  width: 100%;
  z-index: 3;
  top:0;
  left:0;
}

#apos-admin-bar ~ [data-apos-refreshable] .th-wrapper .th-header {
  top: 7rem;
  left: 0;
}
body[data-breakpoint-preview-mode] #apos-admin-bar ~ [data-apos-refreshable] .th-wrapper .th-header {
  top: 0;
  left: 0;
}

.th-header__banner {
  box-sizing:border-box;
  background-color: var(--banner-background-color, #BA8808);
  height: 3rem;
  padding: 1rem 0;
}
.th-header__banner * {
  color: var(--banner-text-color, #FFF1CC);
  text-decoration: none;
}
.th-header-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto 0;
  cursor: pointer;
}

.th-header__logo {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 2.5rem;
  margin: 0 auto;
  object-fit: contain;
}

.th-navbar {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 4rem;
  line-height: 4rem;
}
.th-navbar a {
  color: #000;
  text-decoration: none;
}
.nav-el {
  margin: 0;
  padding: 0;
  height: auto;
  text-align: center;
}
.nav-profile {
  width: 15%;
  order:3;
  padding-right: 1.5rem;
}
.nav-logo {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  order: 2;
}
.nav-menu {
  margin: 0;
  padding: 0;
  clear: both;
  order:1;
  width:15%;
}
.nav-items {
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #fff;
}
ul.nav-items {
  overflow: hidden;
  list-style-type: none;
}
.nav-items li {
  padding: 0 .25rem;
}

.nav-menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  max-width: 15%;
}
.nav-menu-icon .nav-icon {
  background-color: #333;
  display: block;
  height: .125rem;
  position: relative;
  transition: background-color .2s ease-out;
  width: 1.125rem;
}
.nav-menu-icon .nav-icon:before,
.nav-menu-icon .nav-icon:after {
  display: block;
  background: #333;
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.nav-menu-icon .nav-icon:before {
  top: .375rem
}
.nav-menu-icon .nav-icon:after {
  top: -.375rem
}
.nav-menu-btn {
  display: none;
}

/* nav button click behavior */
.nav-menu-btn:checked ~ .nav-items {
  position:absolute;
  top: var(--header-offset, 4rem);
  width:100%;
  min-height: 95vh;
  overflow-y: scroll;
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon {
  background: transparent;
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:before {
  transform: rotate(-45deg);
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:after {
  transform: rotate(45deg);
}
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:before,
.nav-menu-btn:checked ~ .nav-menu-icon .nav-icon:after {
  top:0;
}


@media screen and (min-width: 768px) {
  .th-navbar {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 1rem;
  }
  .nav-logo {
    display: flex;
    float: none;
    text-align: center;
    width: 10%;
    order:1;
  }
  .nav-menu {
    width: 50%;
    order:2;
  }
  .nav-items {
    clear: none;
    max-height: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
  .nav-profile {
    position:relative;
    display: flex;
    float: none;
    width: auto;
    order:3;
  }
  .nav-el {
    margin: 0;
    padding: 0 .5rem;
    height: auto;
    text-align: center;
  }
  .nav-menu-icon {
    display:none;
  }
  .th-navbar .nav-menu-btn {
    display: none;
  }
}