// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.th-wrapper {
  display: flex;
  flex-direction: column;
  height:100vh;
}

[data-apos-refreshable],
.th-wrapper,
main {
  flex-grow: 1;
}
.th-inner-wrapper {
  margin-top: var(--header-offset);
}
body[data-breakpoint-preview-mode] .th-inner-wrapper {
  margin-top: 0;
}

.th-wrapper {
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // Nice system fonts.
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.noscroll { overflow: hidden; }

.th-content {
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.th-admin-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  top: 60vh;
  left: 90vw;
  width: auto;
  padding: 0;
  margin: 0;
  border: 1px solid #18244f;
  border-radius: 4px;
  background-color: white;
}
.th-admin-nav-hidden {
  display: none;
}
.th-admin-nav-header {
  cursor: move;
  background-color: white;
  padding: .5rem;
  margin: auto;
}
.th-admin-nav-content {
  color: whitesmoke;
  background-color: #18244f;
  padding: .75rem 1rem;
  width: fit-content;
  height: 100%;
}
.th-admin-nav-item {
  padding: 1rem 0;
  color: whitesmoke;
}
.th-admin-nav-item:visited {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.apos-login__logo.th-admin-thirstie-logo {
  fill: #fff;
  height: 4rem;
}
.th-admin-thirstie-logo-icon,
.th-admin-thirstie-logo-padless {
  fill: #18244f;
}
body[data-breakpoint-preview-mode] .hide-in-preview {
  display: none;
}