// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.th-wrapper {
  display: flex;
  flex-direction: column;
  height:100vh;
  background-color: var(--body-background-color, '#fff');
}

[data-apos-refreshable],
.th-wrapper,
main {
  flex-grow: 1;
}
.th-inner-wrapper {
  margin-top: var(--header-offset);
}
body[data-breakpoint-preview-mode] .th-inner-wrapper {
  margin-top: 0;
}

.th-wrapper {
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // Nice system fonts.
  font-family: var(--th-font-family);
}

.noscroll { overflow: hidden; }

.th-content {
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.th-admin-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  top: 60vh;
  left: 80vw;
  width: auto;
  padding: 0;
  margin: 0;
  border: 1px solid #18244f;
  border-radius: 4px;
  background-color: white;
}
.th-admin-nav-hidden {
  display: none;
}
.th-admin-nav-header {
  cursor: move;
  background-color: white;
  padding: .5rem;
  margin: auto;
}
.th-admin-nav-content {
  color: whitesmoke;
  background-color: #18244f;
  padding: .75rem 1rem;
  width: fit-content;
  height: 100%;
}
.th-admin-nav-item {
  padding: 1rem 0;
  color: whitesmoke;
}
.th-admin-nav-item:visited {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.apos-login__logo.th-admin-thirstie-logo {
  fill: #fff;
  height: 4rem;
}
.th-admin-thirstie-logo-icon,
.th-admin-thirstie-logo-padless {
  fill: #18244f;
}
body[data-breakpoint-preview-mode] .hide-in-preview {
  display: none;
}

.th-swiper__container {
  background-color: #FFF;
}
.th-swiper__container swiper-slide {
  padding: 0 1.875rem;
  display: flex;
  justify-content: flex-start;
  align-items:baseline;
  color: inherit;
  width: auto !important;
}

.th-section-title {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.th-section-title__rule {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  outline: none;
  background-color: var(--th-c-greysMediumDarkGrey-Blur);
  color: transparent;
  border: none;
  z-index: 0;
}

.th-section-title__label {
  z-index: 1;
  position: relative;
  padding: 10px 30px;
  background-color: var(--body-background-color);
}

.th-availability-container {
  background-color: var(--th-availability-bg, transparent);
  padding:2rem 0 1rem;
}
.th-availability__form {
  border: 1px solid var(--th-availability-border);
  padding:2rem 2rem .5rem;
  margin:0 auto;
  width: 600px;
  max-width: 100%;
}
.th-availability__form__title {
  background-color: var(--th-availability-bg, transparent);
  color: var(--th-availability-text-color);
  position: relative;
  top: -42px;
  margin: 0 auto -32px;
  padding: 0 1rem;
  text-align: center;
  width: fit-content;
  line-height: 120%;
}

.th-breadcrumb {
  align-self: start;
  text-align: left;
  color: var(--th-c-greysMediumDarkGrey)
}