th-icon {
  vertical-align:middle;
}

.link-no-decoration,
.link-no-decoration:visited {
  text-decoration-line: none;
  color: inherit;
}
.flex-basis-1 {
  flex-basis: 100%;
}
.flex-basis-2 {
  flex-basis: 50%;
}
.flex-basis-3 {
  flex-basis: 33%;
}
.flex-basis-4 {
  flex-basis: 25%;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.gap-x-0 {
  column-gap: .0;
}
.gap-x-2 {
  column-gap: .5rem;
}
.gap-x-4 {
  column-gap: 1rem;
}
.gap-y-0 {
  row-gap: 0;
}
.gap-y-2 {
  row-gap: .5rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.p-8 {
  padding: 2rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.mx-1	{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2	{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-4	{
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-0	{
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* List items */
.list-style-none {
  overflow: hidden;
  list-style-type: none;
}
.list-noindent {
  padding-inline-start: 0;
}

/* Background and Text Color Classes */
.bg-inherit {
  background-color: inherit;
}
.text-inherit {
  color: inherit
}

/* md */
@media screen and (max-width: 768px) {
  .md\:p-0 {
    padding: 0!important;
  }
}
