h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: $link-color;
  }
}

::selection {
  background-color: $color-gold;
}

code {
  white-space: normal;
}

pre {
  display: flex;
  position: relative;
  font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  color: white;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.8;
  tab-size: 4;
  hyphens: none;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  overflow: auto;
  background: #2b2b2b;
  max-width: 600px;
  margin: 0 auto;
}

.th-button {
  display: inline-block;
  padding: 12px 24px 10px 24px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 30px;
  line-height: 1;
  font-weight: 500;
  background: $color-purple;
  color: white;
  &:visited, &:hover, &:active {
    color: white;
  }
}

.th-button--cta {
  font-size: 16px;
  font-weight: 400;
  padding: 20px 30px;
}

html,
body {
  position: relative;
  height: 100%;
}

h1,
th-acc-h1 {
  font-family: var(--th-h1-font-family, var(--th-font-family, Inter, system-ui, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif));
  font-size: var(--th-h1-font-size, 2em);
}

h2,
th-acc-h2 {
  font-family: var(--th-h2-font-family, var(--th-font-family, Inter, system-ui, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif));
  font-size: var(--th-h2-font-size, 1.5em);
}

h3,
th-acc-h3 {
  font-family: var(--th-h3-font-family, var(--th-font-family, Inter, system-ui, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif));
  font-size: var(--th-h3-font-size, 1.25em);
}

h4,
th-acc-h4 {
  font-family: var(--th-h4-font-family, var(--th-font-family, Inter, system-ui, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif));
  font-size: var(--th-h4-font-size, 1em);
}

body {
  font-family: var(--th-font-family, Inter, system-ui, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif);
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.th-wrapper {
  font-family: var(--th-font-family, Inter, system-ui, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif);
  color: var(--th-font-color, var(--th-c-black));
}