.th-video-widget {
  width: 100%;
}

.th-image-widget {
  max-width: 100%;
}

figure:not(:has(figcaption)) {
  line-height: 0;
}

figure:has(figcaption).th-image-widget__wrapper {
  line-height: 1.125rem;
  border: none;
  padding: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
}

figure:has(figcaption).th-image-widget__wrapper > img {
  display:block;
}

figcaption.th-image-widget__caption {
  position:absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  background-color: var(--th-image-widget__caption-bg);
  border-radius: var(--th-image-widget__caption-border-radius);
  color: var(--th-image-widget__caption-text-color, var(--th-c-white));
  font-size: var(--th-image-widget__caption-font-size);
  font-family: var(--th-image-widget__caption-font-family, var(--primary-font-family));
  font-style: var(--th-image-widget__caption-font-style);
  font-weight: var(--th-image-widget__caption-font-weight);
  padding: var(--th-image-widget__caption-padding);
  text-align: var(--th-image-widget__caption-text-align);
  align-items: var(--th-image-widget__caption-flex-align, center);
  justify-content: var(--th-image-widget__caption-flex-justify, center);
}

figcaption.th-image-widget__caption > * {
  color: var(--th-image-widget__caption-text-color, var(--th-c-white));
}

figcaption.th-image-widget__caption > h3,
figcaption.th-image-widget__caption > h4 {
  margin: 1rem auto;
  padding: 0 2rem;
}

figcaption.th-image-widget__caption > h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

figcaption.th-image-widget__caption > h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

figcaption.th-image-widget__caption > p {
  margin: .25rem auto;
  padding: 0 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 400;
}

.marquee-widget__img {
  max-height: 440px;
  object-fit: cover;
}
