{% extends "layout.html" %}

{% block beforeMain %}
<div class="th-wrapper">
  {% render headerFragment.heading() %}
  <div class="th-inner-wrapper">
      <main class="th-main">
{% endblock %}

{% block main %}
  <section class="th-welcome">
    <div class="th-welcome__area">
      <iframe
      id="th-privacy-id"
      src="https://js.thirstie.cloud/publicpolicies/privacypolicy.html"
      title="Thirstie Privacy Policy"
      width="100%" height="800" frameborder="0"
      >
      </iframe>
    </div>
  </section>
{% endblock %}


{% block afterMain %}
    {% render footerFragment.footer() %}
    </main>{# Close .th-main #}
  </div>
</div>{# Close .th-wrapper #}
{% endblock %}

