.th-product-grid-wrapper {
  max-width: 100vw;
  background-color: var(--product-grid-bg,#FFF);
  margin-bottom: 4rem;
}
.th-product-grid {
  --swiper-size: 400px;
}
.th-product-grid .th-product-grid__item {
  box-sizing: border-box;
  border: none;
}
.th-product-grid .th-product-grid__card {
  box-sizing: border-box;
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: var(--th-border-radius, 4px);
  color: var(--product-grid-text-color, var(--primary-text-color, #000));
  max-width: 100vw;
}

.th-product-grid .th-plp-swiper__container {
  max-width: 100vw;
  width:var(--swiper-size);
  height:var(--swiper-size);
  background-color: inherit;
}
.th-product-grid .th-plp-swiper__container swiper-slide {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.th-product-grid .th-plp__primary_img {
  margin:0;
  padding: 0;
  width:auto;
  height:auto;
  max-width: calc(var(--swiper-size) - 3.75rem);
  max-height: calc(var(--swiper-size) - 3.75rem); 
}
