{% fragment ageGateModal() %}

{% set ageGateType = data.global.ageGateType or 'dob' %}

{% if ageGateType !== 'disabled' %}
  {% set ageGateHeaderText = data.global.ageGateHeaderText or 'You must be of legal drinking age to enter this site.' %}

  {% if data.global.ageGateLogo.items | length %}
    {% set ageGateLogo = apos.image.first(data.global.ageGateLogo) %}
  {% endif %}

  {% if data.global.ageGateBackgroundImage.items | length %}
    {% set ageGatebackgroundColor = apos.modules['theme-widget'].convertPreset(data.global.ageGateBackgroundColor) or rgba(50,50,50,0.5) %}
    {% set agegateBackgroundImg = apos.image.first(data.global.ageGateBackgroundImage) %}
    {% set agegateBackgroundImgUrl = apos.attachment.url(agegateBackgroundImg, { size: 'full' }) %}
    {% set ageGatebackground = "linear-gradient(to bottom, " + ageGatebackgroundColor +" 0%, " + ageGatebackgroundColor + " 100%), url(" + agegateBackgroundImgUrl + ") no-repeat center/cover" %}
  {% else %}
    {% set ageGatebackground = apos.modules['theme-widget'].convertPreset(data.global.ageGateBackgroundColor) or data.global.primaryColor or '#000' %}
  {% endif %}

  {% if not data.user %}
    {# only show age gate if user is not logged in #}
    <th-conditional-modal query="ageGatePassed">
      <div class="p-0 m-0 w-screen h-screen flex flex-col items-center justify-center th-fouc-block" style="background:{{ageGatebackground}};color:var(--th-ag-textcolor, --th-c-white);" >
        <div style="background-color: var(--th-ag-form-input-bg, red);" class="flex flex-col items-center justify-center p-8 th-ag-form-input">
          {% if ageGateLogo %}
            <div class="m-0 py-4">
              <img class="m-0" src="{{ apos.attachment.url(ageGateLogo, { size: 'full' }) }}" alt="{{ ageGateLogo.alt or 'Age Gate Logo' }}" style="max-height:125px"/>
            </div>
          {% endif %}
          <div class="my-4 flex flex-col items-center justify-center text-center">
            <div class="my-2">{{ ageGateHeaderText }}</div>
            <div class="my-2">
              {% if data.global.ageGateSubHeaderContent.items[0].type === "@apostrophecms/rich-text" %}
                {{ apos.area.richText(data.global.ageGateSubHeaderContent) }}
              {% elif data.global.ageGateSubHeaderContent.items[0].type === "@apostrophecms/html" %}
                {{ data.global.ageGateSubHeaderContent.items[0].code | safe}}
              {% endif %}
            </div>
          </div>
          <th-age-verification type="{{ ageGateType }}" confirm-text="Enter" style="--th-border-radius: 2px"></th-age-verification>
          <th-conditional-label query="ageGatePassed" alt-label="All sales of alcohol are fulfilled by licensed retailers on the Thirstie Network." class="my-4">
            {% if data.global.ageGateFailContent.items[0].type === "@apostrophecms/rich-text" %}
              {{ apos.area.richText(data.global.ageGateFailContent) }}
            {% elif data.global.ageGateFailContent.items[0].type === "@apostrophecms/html" %}
              {{ data.global.ageGateFailContent.items[0].code | safe}}
            {% else %}
              <span>You must be 21 or older to enter. Click <a href="https://responsibility.org" target="_blank" class="font-bold">here</a></span>
            {% endif %}
          </th-conditional-label>
          <div style="color:var(--th-ag-textcolor, --th-c-white);">
            <th-disclaimer text-color="var(--th-ag-textcolor, --th-c-white)" text-align="center" />
          </div>
        </div>
      </div>
    </th-conditional-modal>

  {% endif %}

{% endif %}

{% endfragment %}
