{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends "layout.html" %}

{% block beforeMain %}
  <div class="th-wrapper">
    <main class="th-main">
    <th-checkout
      continue-button-label="Go on"
      complete-button-label="Complete Checkout" 
      opt-in-required
    >
        <div id="th-stripe-mount-point" slot="th-stripe-payment"></div>
        <div slot="support-content"></div>
        <div slot="additional-checkout-content">
          <div class="navbar-cta">
            <p>Custom checkout content goes here.</p>
          </div>
        </div>
        <div slot="additional-confirmation-content">
          <div class="navbar-cta">
            <p>Thanks for shopping with us!</p>
          </div>
        </div>
    </th-checkout>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {% render footerFragment.footer() %}
  </main>{# Close .th-main #}
</div>{# Close .th-wrapper #}
{% endblock %}
