{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends "layout.html" %}

{% block beforeMain %}
  <div class="th-wrapper">
    <main class="h-full th-checkout-main">
    {% if data.global.useOnePageCheckout === true %}
      {% set navFormat = data.global.navFormat or 'left' %}
      {% set navHeight = data.global.navHeight or 'normal' %}
      {% set navShadow = data.global.navShadow or 'none' %}

      {% if data.global.headerLogo.items | length %}
        {% set logoObj = apos.image.first(data.global.headerLogo) %}
        {% set logoText = logoObj.alt or logoObj.title %}
        {% set logoUrl = apos.attachment.url(logoObj, { size: 'full' }) %}
      {% else %}
        {% set logoText = data.global.brandLogalAltText %}
        {% set logoUrl = data.global.brandLogo %}
      {% endif %}

      {% set headerLogoLinkURL = data.global.headerLogoLinkURL or "/" %}
      <header id="th-access-header" class="th-header-checkout m-0 p-0" style="position: static">
        <nav class="th-navbar mx-auto nav--format-{{ navFormat }} nav--format--{{ navHeight }} nav--border-bottom--{{ navShadow }}">
          <div class="mx-2 nav-el nav-logo-checkout">
            <a href="{{ headerLogoLinkURL }}">
              <img class="th-header__logo nav--format--{{ navHeight }}" src="{{ logoUrl }}" alt="{{ logoText }}">
            </a>
          </div>
        </nav>
      </header>
      <div class="relative">
        <th-checkout-onepage
          complete-button-label="{{ data.page.completeButtonLabel }}"
          opt-in-required
        >
            <div id="th-stripe-mount-point" slot="th-stripe-payment"></div>
            <div slot="additional-checkout-content"><p></p></div>
            <div slot="support-content"></div>
            <div slot="additional-confirmation-content">
              <div class="th-fouc-block">
                <p>{{ data.page.confirmationMessage }}</p>
              </div>
            </div>
        </th-checkout-onepage>
      </div>
    {% else %}
      <th-checkout
        continue-button-label="{{ data.page.continueButtonLabel }}"
        complete-button-label="{{ data.page.completeButtonLabel }}" 
        opt-in-required
      >
          <div id="th-stripe-mount-point" slot="th-stripe-payment"></div>
          <div slot="additional-checkout-content"><p></p></div>
          <div slot="support-content"></div>
          <div slot="additional-confirmation-content">
            <div class="th-fouc-block">
              <p>{{ data.page.confirmationMessage }}</p>
            </div>
          </div>
      </th-checkout>
    {% endif %}
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {% render footerFragment.footer() %}
  </main>{# Close .th-checkout-main #}
</div>{# Close .th-wrapper #}
{% endblock %}
