{% fragment heading() %}
{% set enableBanner = data.global.enableSiteBanner %}
<header class="th-header m-0 p-0">
  {% if enableBanner %}
    <div class="th-header__banner w-full py-2 px-0 m-0 flex flex-row items-center justify-center">
      {% if data.global.siteBannerText.items[0].type === "@apostrophecms/rich-text" %}
      {{ apos.area.richText(data.global.siteBannerText) }}
      {% endif %}
    </div>
  {% endif %}
  <nav class="th-navbar">
    <div class="nav-el nav-logo"><a href="/"><img class="th-header__logo" src="{{ data.global.brandLogo }}" alt="{{ data.global.brandLogalAltText}}"></a></div>

    <div class="nav-el nav-menu">
      <input class="nav-menu-btn th-overlay-btn" type="checkbox" id="menu-btn" />
      <label class="nav-menu-icon" for="menu-btn"><span class="nav-icon"></span></label>

      <ul class="nav-items th-overlay">
        {% for item in data.global.headerNav %}
          {% if item.urlType === 'custom' %}
            <li class="nav-el"><a href="{{ item.url }}" target="_blank">{{ item.label }}</a></li>
          {% else %}
            <li class="nav-el"><a href="{{ item._page[0].slug }}">{{ item.label }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="nav-el nav-profile">
      <div class="th-header-icons">
        <th-user-nav></th-user-nav>
        <th-cart-nav></th-cart-nav>
      </div>
    </div>
  </nav>
 </header>
{% endfragment %}
