{# Automatically extends the right outer layout and also handles AJAX siutations #}
{# See: https://docs.apostrophecms.org/guide/layout-template.html #}
{% extends data.outerLayout %}

{% import 'header-fragment.html' as headerFragment %}
{% import 'footer-fragment.html' as footerFragment %}
{% import 'thirstie-admin-fragment.html' as thirstieAdminFragment %}

{% set title = data.piece.title or data.page.title %}

{% set enableBanner = data.global.enableSiteBanner %}
{% set headerHeight = 112 if enableBanner else 64 %}
{% if data.user %}
  {% set headerHeight = headerHeight + 112 %}
{% endif %}

{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
{% if not data.global.favicon.items[0] %}
<link rel="icon" href="/images/thirstie_dkblue.ico" />
{% endif %}
<script>
  window.thData = {};
  window.thData.k = "{{ data.thirstieAPIKey }}";
  window.thData.m = "{{ data.thirstieMapsKey }}";
  window.thData.e = "{{ data.thirstieEnvironment }}"
  window.thData.primaryColor = "{{ data.global.primaryColor }}";
  window.thData.secondaryColor = "{{ data.global.secondaryColor }}";
  window.thData.secondaryColor = "{{ data.global.secondaryColor }}";
  window.thData.primaryContrastingColor = "{{ data.global.primaryContrastingColor }}";
  window.thData.secondaryContrastingColor = "{{ data.global.secondaryContrastingColor }}";
  window.thData.brandLogo = "{{ data.global.brandLogo }}";
  window.thData.brandLogoAltText = "{{ data.global.brandLogoAltText }}";
  window.thData.supportEmail = "{{ data.global.supportEmail }}";
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  swiper-container {
    width: 100%;
    height: 100%;
    background: #606060;
  }

  swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  swiper-slide .subtitle {
    font-size: 21px;
  }

  swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }
</style>
{% endblock %}

{% block beforeMain %}
<div class="th-wrapper th-fouc-block">
  {% render headerFragment.heading() %}
  <div class="th-inner-wrapper">
    <th-availability-wrapper header-height="{{ headerHeight }}" buffer-height="-8" check-type="address">
      <main class="th-main">
{% endblock %}

{% block main %}
      {#
      Usually, your page templates in the @apostrophecms/pages module will override
      this block. It is safe to assume this is where your page-specific content
      should go.
      #}
{% endblock %}

{% block afterMain %}
      {% render footerFragment.footer() %}
      </main>{# Close .th-main #}
    </th-availability-wrapper>
  </div>
  {% render thirstieAdminFragment.floatingMenu() %}
</div>{# Close .th-wrapper #}
{% endblock %}

{% block ageGateModal %}
<th-agegate-modal type="yesno" class="th-fouc-block">
<h2 slot="header">Are you old enough to drink?</h2>
<div slot="additional-msg">
  <div>For information about enjoying Alcohol RESPONSIBLY visit <a href="https://responsibility.org">responsibility.org</a> & <a href="https://responsibledrinking.org">responsibledrinking.org</a></div>
</div>
<div slot="fail-msg">You must 21 or older to enter. Click <a href="https://responsibility.org" target="_blank">here</a></div>
</th-agegate-modal>
{% endblock %}