{# Automatically extends the right outer layout and also handles AJAX siutations #}
{# See: https://docs.apostrophecms.org/guide/layout-template.html #}
{% extends data.outerLayout %}

{% import 'header-fragment.html' as headerFragment %}
{% import 'footer-fragment.html' as footerFragment %}
{% import 'agegate-fragment.html' as ageGateFragment %}
{% import 'thirstie-admin-fragment.html' as thirstieAdminFragment %}

{% set pageTitle = data.piece.title or data.page.title %}
{% if pageTitle == 'Home' %}
  {% set pageTitle = 'Shop Now' %}
{% endif %}
{% set title = (data.global.siteTitle or 'Thirstie Access') ~ ' | ' ~ pageTitle %}

{% set headerHeight = apos.modules['theme-widget'].calcHeaderHeight(data, 112) %}

{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
{% if not data.global.favicon.items[0] %}
<link rel="icon" href="/images/thirstie_dkblue.ico" />
{% endif %}
<script>
  window.thData = {};
  window.thData.k = "{{ data.thirstieAPIKey }}";
  window.thData.m = "{{ data.thirstieMapsKey }}";
  window.thData.e = "{{ data.thirstieEnvironment }}"
  window.thData.primaryColor = "{{ data.global.primaryColor }}";
  window.thData.secondaryColor = "{{ data.global.secondaryColor }}";
  window.thData.secondaryColor = "{{ data.global.secondaryColor }}";
  window.thData.primaryContrastingColor = "{{ data.global.primaryContrastingColor }}";
  window.thData.secondaryContrastingColor = "{{ data.global.secondaryContrastingColor }}";
  window.thData.brandLogo = "{{ data.global.brandLogo }}";
  window.thData.brandLogoAltText = "{{ data.global.brandLogoAltText }}";
  window.thData.supportEmail = "{{ data.global.supportEmail }}";
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P34XK55Z');</script>
{% if data.global.googleTagManagerId %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ data.global.googleTagManagerId }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-element-bundle.min.js"></script>

{% if data.global.typekitId %}
  <style>
    @import url("https://use.typekit.net/{{ data.global.typekitId }}.css");
  </style>
{% endif %}

{% if data.global.customCode.items[0].type === "@apostrophecms/html" %}
  {{ data.global.customCode.items[0].code | safe}}
{% endif %}

{% endblock %}

{% block beforeMain %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P34XK55Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% if data.global.googleTagManagerId %}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ data.global.googleTagManagerId }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% endif %}
<!-- End Google Tag Manager (noscript) -->

{% if data.global.customCodeBodyStart.items[0].type === "@apostrophecms/html" %}
  {{ data.global.customCodeBodyStart.items[0].code | safe}}
{% endif %}

<div class="th-wrapper">
  {% render headerFragment.heading() %}
  <div class="th-inner-wrapper">
    {% if data.global.locationType === 'stickyzip' %}
    <th-availability-minify header-height="{{ headerHeight }}" initial-offset="0" background-color-min="var(--th-zip-entry-min-bg, {{ data.global.secondaryColor }})" text-color-min="var(--th-zip-entry-min-text, {{ data.global.secondaryContrastingColor }})">
      <main class="th-main">
    {% else %}
      <main class="th-main">
    {% endif %}
{% endblock %}

{% block main %}
      {#
      Usually, your page templates in the @apostrophecms/pages module will override
      this block. It is safe to assume this is where your page-specific content
      should go.
      #}
{% endblock %}

{% block afterMain %}
    {% render footerFragment.footer() %}
    </main>{# Close .th-main #}
    {% if data.global.locationType === 'stickyzip' %}
    </th-availability-minify>
    {% endif %}
  </div>
  {% render thirstieAdminFragment.floatingMenu() %}
</div>{# Close .th-wrapper #}

{% render ageGateFragment.ageGateModal() %}

{% if data.global.customCodeBodyEnd.items[0].type === "@apostrophecms/html" %}
  {{ data.global.customCodeBodyEnd.items[0].code | safe}}
{% endif %}

{% endblock %}
