{# Automatically extends the right outer layout and also handles AJAX siutations #}
{# See: https://docs.apostrophecms.org/guide/layout-template.html #}
{% extends data.outerLayout %}

{% import 'header-fragment.html' as headerFragment %}
{% import 'footer-fragment.html' as footerFragment %}
{% import 'thirstie-admin-fragment.html' as thirstieAdminFragment %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
<script>
  window.thData = {};
  window.thData.k = "{{ data.thirstieAPIKey }}";
  window.thData.m = "{{ data.mapsKey }}";
  window.thData.e = "{{ data.thirstieEnvironment }}"
  window.thData.primaryColor = "{{ data.global.primaryColor }}";
  window.thData.secondaryColor = "{{ data.global.secondaryColor }}";
  window.thData.secondaryColor = "{{ data.global.secondaryColor }}";
  window.thData.primaryContrastingColor = "{{ data.global.primaryContrastingColor }}";
  window.thData.secondaryContrastingColor = "{{ data.global.secondaryContrastingColor }}";
  window.thData.brandLogo = "{{ data.global.brandLogo }}";
  window.thData.brandLogoAltText = "{{ data.global.brandLogoAltText }}";
  window.thData.supportEmail = "{{ data.global.supportEmail }}";
</script>
{% endblock %}

{% block beforeMain %}
<div class="th-wrapper">
  {% render headerFragment.heading() %}
  <main class="th-main">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>{# Close .th-main #}
  {% render footerFragment.footer() %}
  {% if data.user %}
    {% render thirstieAdminFragment.floatingMenu() %}
  {% endif %}
</div>{# Close .th-wrapper #}

<th-agegate-modal type="yesno" class="th-fouc-block">
<h2 slot="header">Are you old enough to drink?</h2>
<div slot="additional-msg">
  <div>For information about enjoying Alcohol RESPONSIBLY visit <a href="https://responsibility.org">responsibility.org</a> & <a href="https://responsibledrinking.org">responsibledrinking.org</a></div>
</div>
<div slot="fail-msg">You must 21 or older to enter. Click <a href="https://responsibility.org" target="_blank">here</a></div>
</th-agegate-modal>
{% endblock %}
