{% macro renderSectionTitle(sectionTitle, options) %}
{% set textColor = ("color: " + options.textColor) + ";" if options.textColor else "" %}
{% set fontSize = ("font-size: " + options.fontSize) + ";" if options.fontSize else "" %}
{% set fontWeight = ("font-weight: " + options.fontWeight) + ";" if options.fontWeight else "" %}
{% if sectionTitle | length %}
  <div class="th-section-title">
    <p class="th-section-title__label {{ options.className }}" style="{{ textColor }} {{ fontSize }}">{{ sectionTitle }}</p>
    {% if options.showDivider %}<hr class="th-section-title__rule" />{% endif %}
  </div>
{% endif %}
{% endmacro %}

{% macro renderAddressAvailability( title ) %}
<section class="th-availability-container box-border">
  <div class="th-availability__form box-border th-fouc-block">
    <div class="th-availability__form__title box-border">{{ data.global.locationTitle or "Available in your area?"}}</div>
    <th-address-check text-color="var(--th-availability-text-color)" />
  </div>
</section>
{% endmacro %}