{% macro renderSectionTitle(sectionTitle, options) %}
{% set textColor = ("color: " + options.textColor) + ";" if options.textColor else "" %}
{% set fontSize = ("font-size: " + options.fontSize) + ";" if options.fontSize else "" %}
{% set fontWeight = ("font-weight: " + options.fontWeight) + ";" if options.fontWeight else "" %}
{% set titleStyle = textColor + fontSize + fontWeight %}
{% if sectionTitle | length %}
  <div class="th-section-title">
    <p class="th-section-title__label {{ options.className }}" style="{{ titleStyle }}">{{ sectionTitle }}</p>
    {% if options.showDivider %}<hr class="th-section-title__rule" />{% endif %}
  </div>
{% endif %}
{% endmacro %}

{% macro renderAddressAvailability() %}
<section class="box-border th-availability-container">
  <div class="th-availability__form box-border th-fouc-block">
    <div class="th-availability__form__title box-border">{{ data.global.locationTitle or "Available in your area?" }}</div>
    <th-address-check text-color="var(--th-availability-text-color)" />
  </div>
</section>
{% endmacro %}

{% macro renderAddressAvailabilityInLine() %}
<section class="box-border th-availability-inline-container">
  <div class="th-availability-inline__form box-border th-fouc-block">
    <div class="box-border p-0 m-0 th-availability-inline__form-container">
      <span class="th-availability-inline__form__title">For pricing and availability, enter delivery address</span>
      <th-tooltip text="Enter a valid street address where you want your order sent to see available purchase options." position="top" theme="dark">
        <th-icon icon="info-filled" width="16" height="16" />
      </th-tooltip>
    </div>
    <th-address-check text-color="var(--th-availability-text-color)" />
  </div>
</section>
{% endmacro %}