
{% fragment recipeCard(recipe, options) %}

{% set attachment = apos.image.first(recipe.primaryImage or {}) %}
{% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
{% set altText = attachment.title %}

<section
 class="th-recipe-card h-full flex flex-col items-start justify-start"
 style="--th-recipe-bg: {{ options.backgroundColor or 'var(--secondary-contrasting-color)' }};--th-recipe-textcolor: {{ options.textColor or 'var(--secondary-color)' }};--th-recipe-card__border-radius: {{ options.borderRadius or 'var(--th-border-radius, 0.5rem)' }};">
  <div class="th-recipe-card-header" style="--th-recipe-card__img-max-height: {{ options.imgHeight or '416px' }};">
    <img
      class="th-recipe-card__primary_img"
      src="{{ imageUrl }}" 
      alt="{{altText}}"
    />
  </div>
  <div class="th-recipe-card-details">
    <h2><a href="{{ recipe._url }}" class="no-underline font-bold link-no-decoration">{{ recipe.title }}</a></h2>
    <p>{{ recipe.description }}</p>
    <div class="flex flex-col">
      <h4 class="my-1">Ingredients</h4>
      <ul class="my-2 list-noindent">
        {% for row in recipe.ingredients %}
          <li class="list-style-none leading-normal">{{ row.quantity }} {% if row._productLine | length %}<a href="{{ row._productLine[0]._url }}" class="no-underline font-bold link-no-decoration">{{ row._productLine[0].title }}</a>{% else %}{{ row.ingredient }}{% endif %}</li>
        {% endfor %}
      </ul>
      <br />
      <h4 class="my-1">Method</h4>
      <ul class="my-2 th-recipe-card-directions leading-loose list-noindent">
        {% for row in recipe.directions %}
          {% set stepContent = row.step.items[0].content %}
          <li class="list-style-none th-recipe-card-directions__step">{{ stepContent | safe }}</li>
        {% endfor %}
      </ul>
      <div class="mx-0 my-2">
        {% area recipe, 'extraContent' %}
      </div>
      {% if (recipe._productlines | length) and options.showShopSection %}
        <h4 class="my-2 font-medium">{{ options.shopSectionTitle }}</h4>
        <ul class="my-1 list-noindent">
          {% for productLine in recipe._productlines %}
            <li class="list-style-none leading-normal">
              <a href="{{ productLine._url }}" class="no-underline font-bold link-no-decoration">
                <span>{{ productLine.title }}</span>
              </a>
            </li>
          {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% endfragment %}

{% fragment recipeCardWide(recipe, options) %}

{% set attachment = apos.image.first(recipe.primaryImage or {}) %}
{% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
{% set altText = attachment.title %}

<section
  class="th-recipe-res-card flex flex-row md:flex-col gap-0"
  style="--th-recipe-bg: {{ options.backgroundColor or 'var(--secondary-contrasting-color)' }};--th-recipe-textcolor: {{ options.textColor or 'var(--secondary-contrasting-color)' }}"
  >
  <div class="th-recipe-res-card-banner box-border">
    <img
      class="th-recipe-res-card-banner__img"
      src="{{ imageUrl }}" 
      alt="{{altText}}"
    />
  </div>
  <div class="th-recipe-res-card-content box-border">
    <h2>{{ recipe.title }}</h2>
    <div class="flex flex-col">
      <h4 class="my-2 th-font-18">Ingredients</h4>
      <ul class="my-1 list-noindent">
        {% for row in recipe.ingredients %}
          <li class="list-style-none leading-loose">{{ row.quantity }} {% if row._productLine | length %}<a href="{{ row._productLine[0]._url }}" class="no-underline font-bold link-no-decoration">{{ row._productLine[0].title }}</a>{% else %}{{ row.ingredient }}{% endif %}</li>
        {% endfor %}
      </ul>
      <h4 class="my-2 th-font-18">Directions</h4>
      <ul class="my-1 list-noindent">
        {% for row in recipe.directions %}
          {% set stepContent = row.step.items[0].content %}
          <li class="list-style-none">{{ stepContent | safe }}</li>
        {% endfor %}
      </ul>
      <div class="my-0">
        {% area recipe, 'extraContent' %}
      </div>
    </div>
  </div>
</section>
{% endfragment %}


{% fragment recipeProductSlider(recipe) %}
<section class="flex flex-col items-start md:items-center justify-center m-4 p-4">
  <div class="flex flex-col">
    <h3>Featured products</h3>
    <swiper-container
      class="th-swiper__container"
      space-between="10"
      navigation="true"
      pagination="false"
      loop="false"
      style="--swiper-navigation-color: #4f4f4f; --swiper-navigation-size: 1.5rem;"
    >
    {% for ingredient in recipe.ingredients %}
      {% if ingredient._productLine | length %}
      {% set productLine = ingredient._productLine[0] %}
        <swiper-slide style="width:auto">
          <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" link-text="Learn more" no-image show-link no-collection></th-product-add-to-cart>
        </swiper-slide>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endfragment %}