
{% fragment recipeCard(recipe) %}

{% set attachment = apos.image.first(recipe.primaryImage or {}) %}
{% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
{% set altText = attachment.title %}

<section class="th-recipe-card flex flex-col items-start justify-center">
  <div class="th-recipe-card-header">
    <figure class="mx-auto">
      <img
        class="th-recipe__primary_img"
        src="{{ imageUrl }}" 
        alt="{{altText}}"
      />
    </figure>
  </div>
  <div class="th-recipe-card-details">
    <h2>{{ recipe.title }}</h2>
    <p>{{ recipe.description }}</p>
    <div class="flex flex-col">
      <h4 class="my-1">Ingredients</h4>
      <ul class="my-1 list-noindent">
        {% for row in recipe._productlines %}
          <li class="list-style-none my-1">{{ row._fields.quantity }} <a href="{{ row._url }}" class="no-underline font-bold link-no-decoration">{{ row.title }}</a></li>
        {% endfor %}
        {% for row in recipe.ingredients %}
          <li class="list-style-none my-1">{{ row.quantity }} {{ row.ingredient }}</li>
        {% endfor %}
      </ul>
      <h4 class="my-2">Method</h4>
      <ul class="th-recipe-card-directions my-1 list-noindent">
        {% for row in recipe.directions %}
          {% set stepContent = row.step.items[0].content %}
          <li class="list-style-none">{{ stepContent | safe }}</li>
        {% endfor %}
      </ul>
      <div class="mx-0 my-2">
        {% area recipe, 'extraContent' %}
      </div>
    </div>
  </div>
</section>

{% endfragment %}

{% fragment recipeCardWide(recipe) %}

{% set attachment = apos.image.first(recipe.primaryImage or {}) %}
{% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
{% set altText = attachment.title %}

<section class="flex flex-row md:flex-col items-start md:items-center justify-center">
  <div class="th-recipe-left">
    <figure class="mx-auto">
      <img
        class="th-recipe__primary_img"
        src="{{ imageUrl }}" 
        alt="{{altText}}"
      />
    </figure>
  </div>
  <div class="th-recipe-right mx-4">
    <h2>{{ recipe.title }}</h2>
    <div class="flex flex-col">
      <h4 class="my-2">Ingredients</h4>
      <ul class="my-2">
        {% for row in recipe._productlines %}
          <li><p>{{ row._fields.quantity }} <a href="{{ row._url }}" class="no-underline font-bold link-no-decoration">{{ row.title }}</a></p></li>
        {% endfor %}
        {% for row in recipe.ingredients %}
          <li><p>{{ row.quantity }} {{ row.ingredient }}</p></li>
        {% endfor %}
      </ul>
      <h4 class="my-2">Directions</h4>
      <ul class="my-2">
        {% for row in recipe.directions %}
          {% set stepContent = row.step.items[0].content %}
          <li>{{ stepContent | safe }}</li>
        {% endfor %}
      </ul>
      <div class="my-2">
        {% area recipe, 'extraContent' %}
      </div>
    </div>
  </div>
</section>

<section class="flex flex-col items-center justify-center m-0 p-0">
  {% if recipe._productlines | length %}
  <div class="flex flex-col">
    <h4>Featured products</h4>
    <swiper-container
      class="th-recipe-swiper__container"
      space-between="10"
      navigation="true"
      pagination="false"
      loop="false"
      style="--swiper-navigation-color: #4f4f4f; --swiper-navigation-size: 1.5rem;"
    >
    {% for productLine in recipe._productlines %}
      <swiper-slide style="width:auto">
        <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" link-text="Learn more" no-image show-link no-collection></th-product-add-to-cart>
      </swiper-slide>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endfragment %}
