{% fragment floatingMenu() %}
{# floating menu for Thirstie specific admin functions #}
{% if data.user %}
<nav id="th-admin-menu" class="th-admin-nav hide-in-preview ">
  <div id="th-admin-nav-header" class="th-admin-nav-header">
    <img src="https://media.thirstie.cloud/banners/v3p3HLxx6nwtVz4GVvYKWQ,x32f.png" alt="logo" />
  </div>
  <div class="th-admin-nav-content">
    <h3><th-data-query context="session" query="application"></th-data-query><br/>{{ data.thirstieEnvironment }}</h3>
    <p><a href="https://portal.thirstie.com" class="th-admin-nav-item" target="_blank">Brand Portal</a></p>
    <p><a href="https://docs.thirstie.com" class="th-admin-nav-item" target="_blank">Docs</a></p>
    <p><a href="/styleguide" class="th-admin-nav-item">Styleguide</a></p>
    <p><a href="/sitemap" class="th-admin-nav-item">Sitemap</a></p>
  </div>
</nav>
{% endif %}
{% endfragment %}
