{% extends "layout.html" %}

{% block beforeMain %}
<div class="th-wrapper">
  {% render headerFragment.heading() %}
  <div class="th-inner-wrapper">
      <main class="th-main">
{% endblock %}

{% block main %}
      <section class="th-welcome">
        <div class="th-welcome__area">
          <h1>Contact Us</h1>
          <p class="text-center">
            <span>For any questions related to your order, please reach out to our support team at:</span>
          </p>
          <p class="text-center">
            <span><strong><a href="mailto:{{data.global.supportEmail}}">{{ data.global.supportEmail }}</a></strong></span>
          </p>
        </div>

        <div>
          {% area data.page, 'additionalContent' %}
        </div>
      </section>
{% endblock %}


{% block afterMain %}
    {% render footerFragment.footer() %}
    </main>{# Close .th-main #}
  </div>
</div>{# Close .th-wrapper #}
{% endblock %}

