{% extends "layout.html" %}
{% import '@apostrophecms/pager:macros.html' as pager with context %}

{% block main %}

  <h2>{{ data.page.title }}</h2>
  <div class="my-4 mx-0 px-4 md:p-0 gap-4 w-full th-fouc-block">
    <div class="grid grid-cols-3 md:grid-cols-1 items-center justify-center">
      {% for recipe in data.pieces %}
        <div class="my-4 mx-auto">
          <h3>{{ recipe.title }}</h3>
        </div>
      {% endfor %}
    </div>
    {{ pager.render({
      page: data.currentPage,
      total: data.totalPages,
      class: 'recipe-pager'
    }, data.url
    ) }}
    <p class="my-0 mx-auto recipe-pager">{{ data.totalPieces }} products</p>
  </div>
{% endblock %}