{# modules/recipe/views/show.html #}
{% extends "layout.html" %}

{% import 'recipe-fragment.html' as recipeFragment %}

{% set recipe = data.piece %}

{% block main %}
<div class="flex flex-col items-center justify-center" style="padding:2rem 1rem">
  <h1 style="margin-top:4rem;">{{ data.page.title }}: {{ recipe.title }}</h1>

  {% render recipeFragment.recipeCardWide(recipe, {textColor: apos.modules['theme-widget'].convertPreset(data.page.textColor), backgroundColor: apos.modules['theme-widget'].convertPreset(data.page.backgroundColor)} ) %}

  {% if data.global.locationType === 'address' %}
  <style>
    .th-availability-container {
      background-color: var(--th-availability-bg, transparent);
      padding:2rem 0 1rem;
    }
    .th-availability__form {
      border: 1px solid var(--th-availability-border);
      padding:2rem 2rem .5rem;
      margin:0 auto;
      width: 600px;
    }
    .th-availability__form__title {
      background-color: var(--th-availability-bg, transparent);
      color: var(--th-availability-text-color);
      position: relative;
      top: -42px;
      margin: 0 auto -32px;
      padding: 0 1rem;
      text-align: center;
      width: fit-content;
      line-height: 120%;
    }
  </style>
  <section class="th-availability-container box-border">
    <div class="th-availability__form box-border th-fouc-block">
      <div class="th-availability__form__title box-border">Available in your area?</div>
      <th-address-check text-color="var(--th-availability-text-color)" />
    </div>
  </section>
  {% endif %}

  {% render recipeFragment.recipeProductSlider(recipe) %}
</div>
{% endblock %}
