{# modules/recipe/views/show.html #}
{% extends "layout.html" %}

{% import 'macros.html' as macros %}
{% import 'recipe-fragment.html' as recipeFragment %}
{% import 'breadcrumb-fragment.html' as breadcrumbFragment %}

{% set recipe = data.piece %}

{% block main %}
<div class="w-full h-full">

  {% if data.global.locationType === 'address' %}
    {{ macros.renderAddressAvailability() }}
  {% endif %}

  <div class="flex flex-col items-center justify-center p-4">

    {% render breadcrumbFragment.breadcrumb() %}

    <h1 class="th-recipe-page__title text-xl leading-loose" style="margin-top:4rem;">{{ data.page.title }}</h1>

    {% render recipeFragment.recipeCardWide(
      recipe,
      {textColor: apos.modules['theme-widget'].convertPreset(data.page.textColor), backgroundColor: apos.modules['theme-widget'].convertPreset(data.page.backgroundColor)} )
    %}

    {% render recipeFragment.recipeProductSlider(recipe) %}
  </div>
</div>
{% endblock %}
