{# modules/recipe/views/show.html #}
{% extends "layout.html" %}

{% import 'macros.html' as macros %}
{% import 'recipe-fragment.html' as recipeFragment %}

{% set recipe = data.piece %}

{% block main %}
<div class="w-full h-full">

  {% if data.global.locationType === 'address' %}
    {{ macros.renderAddressAvailability() }}
  {% endif %}

  <div class="flex flex-col items-center justify-center p-4">
    {% if data.page and data.page._ancestors.length %}
    <nav class="my-4 mx-2 th-breadcrumb">
      {% for page in data.page._ancestors %}
        <a href="{{ page._url }}">{{ page.title }}</a>&nbsp;<th-icon icon="chevron-forward" width="14" height="14"></th-icon>
      {% endfor %}
      {% if data.piece %}
        <a href="{{ data.page._url }}">{{ data.page.title }}</a>&nbsp;<th-icon icon="chevron-forward" width="14" height="14"></th-icon>
        <span>{{ data.piece.title }}</span>
      {% else %}
        <span>{{ data.page.title }}</span>
      {% endif %}
    </nav>
    {% endif %}
    <h1 class="th-recipe-page__title text-xl leading-loose" style="margin-top:4rem;">{{ data.page.title }}</h1>

    {% render recipeFragment.recipeCardWide(
      recipe,
      {textColor: apos.modules['theme-widget'].convertPreset(data.page.textColor), backgroundColor: apos.modules['theme-widget'].convertPreset(data.page.backgroundColor)} )
    %}

    {% render recipeFragment.recipeProductSlider(recipe) %}
  </div>
</div>
{% endblock %}
