echo " BEGINING LAUNCH SCRIPT "

mkdir /etc/codedeploy-agent/
mkdir /etc/codedeploy-agent/conf

# 1. configure codedeploy agent
cat <<EOT >> /etc/codedeploy-agent/conf/codedeploy.onpremises.yml

---

aws_access_key_id: {{CODEDEPLOY_USER_ACCESS_KEY}}

aws_secret_access_key: {{CODEDEPLOY_USER_ACCESS_SECRET}}

iam_user_arn: {{CODEDEPLOY_USER_IAM_ARN}}

region: {{AWS_REGION}}

EOT

# added for 2023 (ruby not automatically installed)
sudo apt-get update -y
sudo apt-get install -y ruby wget

wget https://aws-codedeploy-us-east-2.s3.us-east-2.amazonaws.com/latest/install

chmod +x ./install

sudo ./install auto

# 2. install Apostrophe prerequisites
sudo apt-get install -y nginx
sudo apt-get install -y curl

curl -fsSL https://deb.nodesource.com/setup_22.x | sudo -E bash -
sudo apt-get install -y nodejs

sudo npm install -g pm2

# 3. configure nginx

PROXY_HOST='Host $host'
PROXY_REAL_IP='X-Real-IP $remote_addr'
PROXY_FORWARDED_FOR='X-Forwarded-For $proxy_add_x_forwarded_for'
PROXY_FORWARDED_PROTO='X-Forwarded-Proto $scheme'
TRY_FILES='$uri @proxy'

cat <<EOT > /etc/nginx/conf.d/access-sdk-apos.conf

server {
    listen *:80;

    server_name {{site_server_name}};

    location @proxy {
        proxy_pass http://localhost:3000;
        proxy_set_header $PROXY_HOST;
        proxy_set_header $PROXY_REAL_IP;
        proxy_set_header $PROXY_FORWARDED_FOR;
        proxy_set_header $PROXY_FORWARDED_PROTO;
    }

    location / {
        root /home/nodeapps/{{APOS_REPO_NAME}}/public;
        try_files $TRY_FILES;
        expires 7d;
    }
}
EOT

unset PROXY_HOST
unset PROXY_REAL_IP
unset PROXY_FORWARDED_FOR
unset PROXY_FORWARDED_PROTO
unset TRY_FILES

# 4. whitelist ec instance ip address with mongodb
PUBLIC_IP=$(curl -s http://checkip.amazonaws.com) && curl --user "{{APOS_MONGO_ADMIN_API_KEY}}:{{APOS_MONGO_ADMIN_API_SECRET}}" \
--digest --include \
--header "Accept: application/vnd.atlas.2025-03-12+json" \
--header "Content-Type: application/json" \
-X POST "https://cloud.mongodb.com/api/atlas/v2/groups/{{APOS_MONGO_ATLAS_GROUPID}}/accessList" \
-d '[{"comment":"{{APOS_REPO_NAME}}-{{instance_name}}","cidrBlock":"'$PUBLIC_IP'/32"}]'

# configure env file
cat <<EOT > /var/www/.env.access
THAPPNAME={{brand_urn}}
THBASEURL=https://{{site_server_name}}
THENV={{site_environment}}
THAPIKEY={{site_api_key}}
THMAPSKEY={{site_maps_key}}
THAPIKEY_PROD={{site_api_key_prod}}
THMAPSKEY_PROD={{site_maps_key_prod}}
THEXPRESS_SECRET=9a3c6c5c00f0163acf8cf9ed9ecdc987d6a3c7711271d2c60f8ac84da0290592
APOS_MONGODB_URI={{APOS_MONGODB_URI}}
APOS_S3_BUCKET={{APOS_S3_BUCKET}}
APOS_S3_REGION={{APOS_S3_REGION}}
APOS_S3_KEY={{APOS_S3_KEY}}
APOS_S3_SECRET={{APOS_S3_SECRET}}
NODE_ENV=production 

EOT

# create a non-root user to manage to manage the site (no sudo privileges)
sudo useradd nodeapps -d /home/nodeapps -m -s /bin/bash

# make sure pm2 can restart our site if the server reboots:
sudo su -c "pm2 startup ubuntu -u nodeapps --hp /home/nodeapps"

# install the code & initial build
sudo -u nodeapps git clone {{APOS_REPO_URL}} /home/nodeapps/{{APOS_REPO_NAME}}

sudo -u nodeapps npm --prefix /home/nodeapps/access-sdk-apos install
sudo -u nodeapps npm --prefix /home/nodeapps/{{APOS_REPO_NAME}} run release:www

# have pm2 launch the site and save our `pm2` configuration for future reboots.
export APOS_S3_BUCKET={{APOS_S3_BUCKET}}
export APOS_S3_REGION={{APOS_S3_REGION}}
export APOS_S3_KEY={{APOS_S3_KEY}}
export APOS_S3_SECRET={{APOS_S3_SECRET}}
sudo -u nodeapps pm2 --name={{brand_urn}} start npm -- --prefix /home/nodeapps/{{APOS_REPO_NAME}} run serve:www
sudo -u nodeapps pm2 save

# restart nginx
sudo systemctl reload nginx
