.th-plp-swiper__container {
  width:300px;
  height:300px;
  background-color: #FFF;
}
.th-plp-swiper__container swiper-slide {
  padding: 0 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.th-plp__primary_img {
  margin:0;
  padding: 0;
  width:auto;
  height:auto;
  max-width: calc(300px - 3.75rem);
  max-height: calc(300px - 3.75rem);
}

.th-pdp-left {
  width: 60vw;
  height: 642px;
}

.th-pdp-left-content {
  width: 552px;
  margin: auto;
}

.th-pdp-img-container {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #FFF;
}
.th-pdp-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #FFF;
}

.th-pdp-left-content swiper-container {
  background-color: #FFF;
}

.th-pdp-description {
  border: none;
  border-top: 1px solid var(--th-availability-border);
}
.th-pdp-description__title {
  line-height: 150%;
}

.th-pdp-swiper__container {
  width:100%;
  height:100%;
}
.th-pdp-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 1rem 0;
}
.th-pdp-thumb__slide {
  width: 20%;
  height: 120px;
  opacity: 0.4;
  border: 1px solid #0f0f0f;
  padding: 0;
  margin: 0;
}

.swiper-slide-thumb-active {
  opacity: 1;
}

.th-pdp-thumb__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.th-pdp-right {
  width: 40vw;
}
h1.th-pdp-right__title {
  font-size: 2rem;
  text-align: left;
  line-height: 2.25rem;
}

@media screen and (max-width: 768px) {
  .th-pdp-content {
    grid-template-columns: 1fr;
  }

  .th-pdp-left {
    width: 100vw;
    height: 100%;
  }

  .th-pdp-left-content {
    width: 100%;
  }

  .th-pdp-right {
    width: 100vw;
  }
  .th-pdp-img-container {
    width:100vw;
    height:100%;
  }
}

.product-pager {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.product-pager__item {
  padding: .5rem 1rem;
  border: 1px solid #aaa;
  border-radius: var(--th-border-radius);
}
.product-pager__item.is-active {
  border-width:.25rem;
}
.product-pager__item a {
  color: inherit;
}

.th-pdp-recipe-swiper {
  width: calc(760px + 6rem);
  max-width: 95vw;
}
.th-pdp-recipe-swiper swiper-slide {
  padding: 0;
  margin: 0;
}
.th-pdp-recipe-card {
  box-sizing: border-box;
  width: 760px;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 768px) {
.th-pdp-recipe-swiper {
  width: 95vw;
  max-width: 95vw;
}
.th-pdp-recipe-swiper swiper-slide {
  padding: 0;
  margin: 0;
}
.th-pdp-recipe-card {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
}