.th-pdp-content {
  box-sizing: border-box;
  margin: 0 2rem;
}

.th-pdp-left {
  width: 60vw;
}
.th-pdp-left img {
  margin: 0 auto;
  width:100%;
}
.th-pdp-right {
  width: 40vw;
}
@media screen and (max-width: 768px) {
  .th-pdp-content {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
}