/* simple recipe card styles */
.th-recipe-card {
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--th-recipe-bg, var(--secondary-contrasting-color));
    color: var(--th-recipe-textcolor, var(--secondary-color));
    border-radius: var(--th-recipe-card__border-radius, var(--th-border-radius, 0.5rem));
}

.th-recipe-card-header {
  margin: 0 auto;
}
.th-recipe-card__primary_img {
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: var(--th-recipe-card__img-max-height, 416px);
  object-fit: cover;
  border-radius: var(--th-recipe-card__border-radius, var(--th-border-radius, 0.5rem));
}

.th-recipe-card__title {
  font-weight: bold;
  margin: .25rem 0;
  padding: 0;
}

.th-recipe-card__subtitle {
  margin: .125rem 0;
  font-weight: 600;
  padding: 0;
  color: var(--th-c-greysDarkGrey);
}

.th-recipe-card-directions li p {
  margin: .25rem 0;
  padding: 0;
  line-height: 1.5rem;
}

/* responsive card styles */
.th-recipe-res-card {
  --card-width: 760px;
  --card-height: 475px;
  --card-width-banner: 45%;
  --card-width-detail: calc(100% - var(--card-width-banner));
  background-color: var(--th-recipe-bg, var(--secondary-contrasting-color));
  color: var(--th-recipe-textcolor, var(--secondary-color));
  width: var(--card-width);
  height: auto;
  min-height: var(--card-height);
  margin: 1rem;
}
.th-recipe-res-card-banner {
  background-color: var(--secondary-color);
  width: var(--card-width-banner);
}
.th-recipe-res-card-banner__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
.th-recipe-res-card-content {
  background-color: var(--th-recipe-bg, var(--secondary-contrasting-color));
  color: var(--th-recipe-textcolor, var(--secondary-color));
  padding: 0.5rem 1rem;
  width: var(--card-width-detail);
}
.th-recipe-res-card-content h2 {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .th-recipe-res-card {
    --card-width: calc(100vw - 6rem);
    --card-height: auto;
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  .th-recipe-res-card-banner {
    width: 100%;
    height: var(--card-width);
    margin: 0;
    padding: 0;
    order: 3;
  }
  .th-recipe-res-card-banner__img {
    width: 100%;
    height: var(--card-width);
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
  }
  .th-recipe-res-card-content {
    width: 100%;
    padding: 0.5rem;
  }
}