{% extends "layout.html" %}

{% block main %}
  <section class="th-welcome my-8">
    {% if not data.user %}
      {# Message only for logged out users. #}
      <h3 class="th-welcome__help">This page is for admins only</h3>
      <p>
        Use the credentials provided by Thirstie
      </p>
      <p class="th-welcome__cta">
        <a class="th-acc-button th-acc-button--cta" href="/login">Log in for <th-data-query context="session" query="application"></th-data-query></a>
      </p>
    {% endif %}

    <div class="th-welcome__area">
      {% if data.user %}
        <h1 class="th-welcome__headline">
          Welcome to Thirstie Access
        </h1>
        {# Message only for logged in users. #}
        <p>
          Enter <span class="th-mode">Edit</span> mode from the admin bar <span style="display:inline-block; transform: rotate(45deg)">👆</span> to begin.
        </p>
        <p>
          For a guide on how to configure and customize this project, <a href="https://a3.docs.apostrophecms.com/" target="_blank">please check out the Apostrophe 3 documentation</a>.
        </p>
        <hr>
        <figure>
          <figcaption><h2>Site settings</h2></figcaption>
          <ul>
            <li>Storefront application: <th-data-query context="session" query="application"></th-data-query></li>
            <li>Environment: {{ data.thirstieEnvironment }}</li>
          </ul>
        </figure>
      {% endif %}
    </div>
  </section>
{% endblock %}