.marquee-widget__image--background {
  max-height: 440px;
  object-fit: cover;
}

.marquee-widget__image-side {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
}

.marquee-widget__image-side img {
  width: auto;
  max-height: 540px;
}
.marquee-widget__image-side figcaption {
  width: 50%;
  padding: 0 1em; 
  align-self: center;
}

.marquee-widget__figure-image-left {
  flex-flow: row;
}
.marquee-widget__figure-image-left figcaption {
  text-align: right;
  align-items: flex-end;
}

.marquee-widget__figure-image-right {
  flex-flow: row-reverse;
}
.marquee-widget__figure-image-right figcaption {
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
}

.marquee-widget__title {
  text-align: inherit;
}

.marquee-widget__cta-button {
  margin-top: 1rem;
  padding: .5rem 1rem;
}

.marquee-widget__cta-link,
.marquee-widget__cta-link:hover,
.marquee-widget__cta-link:focus,
.marquee-widget__cta-link:visited {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .marquee-widget__image-side {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .marquee-widget__image-side img {
    background-color: #66aaee66;
    /* Set specific width for image or use flex-basis */
    width: auto;
    height: auto;
    margin: auto;
    justify-content: space-between;
  }

  .marquee-widget__image-side figcaption {
    box-sizing: border-box;
    padding: 5rem 1rem;
    width: 100%;
    height: 50%;
    
  }

  .marquee-widget__figure-image-left,
  .marquee-widget__figure-image-right {
    flex-flow: column;
  }
  .marquee-widget__figure-image-left figcaption,
  .marquee-widget__figure-image-right figcaption {
    text-align: left;
    align-items: flex-start;
  }
}