.marquee-widget__container,
.marquee-widget__container * {
  color: var(--marquee-widget__caption-text-color, var(--primary-color));
  font-family: var(--marquee-widget__caption-font-family, var(--primary-font-family));
}
.marquee-widget__figure-background {
  line-height: 1.125rem;
  border: none;
  padding: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
}
.marquee-widget__figure-side {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: stretch;
}

.marquee-widget__image--background {
  max-height: 540px;
  object-fit: cover;
}

.marquee-widget__figure-image-background {
  position: relative;
}
.marquee-widget__figure-background img {
  display:block;
  height: auto;
  width: 100%;
  max-height: 540px;
  object-fit: cover;
}
.marquee-widget__figure-background figcaption {
  display:flex;
  position:absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.marquee-widget__figure-side img {
  width: auto;
  max-height: 540px;
}
.marquee-widget__figure-side figcaption {
  align-self: stretch;
  width: 50%;
  height: auto;
  padding: 1em;
}

.marquee-widget__figure-image-left {
  flex-flow: row;
}
.marquee-widget__figure-image-left figcaption {
  text-align: right;
  align-items: flex-end;
}

.marquee-widget__figure-image-right {
  flex-flow: row-reverse;
}
.marquee-widget__figure-image-right figcaption {
  text-align: left;
  align-items: flex-start;
}

.marquee-widget__title {
  text-align: inherit;
  margin: 0;
  line-height: 1.25;
  padding:0;
  font-size: 1.5rem;
  font-weight: bold;
}

.marquee-widget__cta-button {
  margin-top: 1rem;
  padding: .5rem 1rem;
}

.marquee-widget__cta-link,
.marquee-widget__cta-link:hover,
.marquee-widget__cta-link:focus,
.marquee-widget__cta-link:visited {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .marquee-widget__figure-side {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .marquee-widget__figure-side img {
    background-color: #66aaee66;
    /* Set specific width for image or use flex-basis */
    width: auto;
    height: auto;
    margin: auto;
    justify-content: space-between;
  }

  .marquee-widget__figure-side figcaption {
    box-sizing: border-box;
    padding: 5rem 1rem;
    width: 100%;
    height: 50%;
    
  }

  .marquee-widget__figure-image-left,
  .marquee-widget__figure-image-right {
    flex-flow: column;
  }
  .marquee-widget__figure-image-left figcaption,
  .marquee-widget__figure-image-right figcaption {
    text-align: left;
    align-items: flex-start;
  }
}