{% extends "layout.html" %}
{% import '@apostrophecms/pager:macros.html' as pager with context %}

{% block main %}
{% set showLink = "show-link" if data.page.showLink else "" %}
{% if data.page.showProductCardImageAs in ("no-image", "carousel") %}
  {% set showImage = "no-image" %}
{% else %}
  {% set showImage = "" %}
{% endif %}
  <h1 class="text-xl leading-loose mt-8">{{ data.page.title }}</h1>
  <th-catalog-collection>
    <div class="my-4 mx-0 px-4 md:p-0 gap-0 w-full">

      {% if data.global.locationType === 'address' %}
      <style>
        .th-availability-container {
          background-color: var(--th-availability-bg, transparent);
          padding:2rem 0 1rem;
        }
        .th-availability__form {
          border: 1px solid var(--th-availability-border);
          padding:2rem 2rem .5rem;
          margin:0 auto;
          width: 600px;
        }
        .th-availability__form__title {
          background-color: var(--th-availability-bg, transparent);
          color: var(--th-availability-text-color);
          position: relative;
          top: -42px;
          margin: 0 auto -32px;
          padding: 0 1rem;
          text-align: center;
          width: fit-content;
          line-height: 120%;
        }
      </style>
      <section class="th-availability-container box-border">
        <div class="th-availability__form box-border th-fouc-block">
          <div class="th-availability__form__title box-border">Available in your area?</div>
          <th-address-check text-color="var(--th-availability-text-color)" />
        </div>
      </section>
      {% endif %}

      <div class="grid grid-cols-3 md:grid-cols-1 items-center justify-center">
        {% for productLine in data.pieces %}
          <div class="my-4 mx-auto">
            {% if data.page.showProductCardImageAs == 'carousel' %}
              {% if productLine.primaryImage.items | length %}
                {% set attachment = apos.image.first(productLine.primaryImage or {}) %}
                {% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
                {% set altText = attachment.title %}
              {% else %}
                {% set imageUrl = productLine.imageSpec | replace("{dims}.", ".") %}
              {% endif %}
              <swiper-container
                class="th-plp-swiper__container"
                space-between="10"
                navigation="true"
                pagination="false"
                loop="true"
                style="--swiper-navigation-color: #4f4f4f; --swiper-navigation-size: 1.5rem;"
              >
                <swiper-slide>
                  <img
                  class="th-plp__primary_img"
                  src="{{ imageUrl }}"
                  alt="{{ altText }}"
                /></swiper-slide>
                {% for productImage in productLine._images %}
                  {% set imgAttachment = apos.image.first(productImage or {}) %}
                  {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
                  {% set altImageAltText = imgAttachment.title or "product image" %}
                  <swiper-slide>
                    <img
                    class="th-plp__primary_img"
                    src="{{ altImageUrl }}" 
                    alt="{{altImageAltText}}"
                  /></swiper-slide>
                {% endfor %}
              </swiper-container>
            {% endif %}
            <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" cta-label="{{ data.page.ctaLabel }}" link-text="{{ data.page.linkText }}" {{ showLink }} {{ showImage }}></th-product-add-to-cart>
          </div>
        {% endfor %}
      </div>
      {{ pager.render({
        page: data.currentPage,
        total: data.totalPages,
        class: 'product-pager'
      }, data.url
      ) }}
    </div>
  </th-catalog-collection>
{% endblock %}