{% extends "layout.html" %}
{% import '@apostrophecms/pager:macros.html' as pager with context %}

{% block main %}
  <h2>{{ data.page.title }}</h2>

  {% for productLine in data.pieces %}
    <article>
      <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" cta-label="Buy Now"></th-product-add-to-cart>
      {% if data.user %}
      <button data-plid="th-prod-{{ productLine.thirstiePLID }}" data-aposid="{{ productLine._id }}" class="th-admin-btn">EDIT ME</button>
      {% endif %}
    </article>
  {% endfor %}

  {{ pager.render({
    page: data.currentPage,
    total: data.totalPages,
    class: 'product-pager'
  }, data.url) }}
{% endblock %}