{% extends "layout.html" %}

{% import '@apostrophecms/pager:macros.html' as pager with context %}
{% import 'macros.html' as macros %}

{% block main %}
{% set showLink = "show-link" if data.page.showLink else "" %}
{% if data.page.showProductCardImageAs in ("no-image", "carousel") %}
  {% set showImage = "no-image" %}
{% else %}
  {% set showImage = "" %}
{% endif %}

  {% if data.global.locationType === 'address' %}
    {{ macros.renderAddressAvailability() }}
  {% endif %}

  {% if data.page and data.page._ancestors.length %}
    <nav class="my-4 mx-2 th-breadcrumb">
      {% for page in data.page._ancestors %}
        <a href="{{ page._url }}">{{ page.title }}</a>&nbsp;<th-icon icon="chevron-forward" width="14" height="14"></th-icon>
      {% endfor %}
      {% if data.piece %}
        <a href="{{ data.page._url }}">{{ data.page.title }}</a>&nbsp;<th-icon icon="chevron-forward" width="14" height="14"></th-icon>
        <span>{{ data.piece.title }}</span>
      {% else %}
        <span>{{ data.page.title }}</span>
      {% endif %}
    </nav>
  {% endif %}

    <h1 class="text-xl leading-loose mt-8">{{ data.page.title }}</h1>
  <th-catalog-collection>
    <div class="my-4 mx-0 px-4 md:p-0 gap-0 w-full">

      <div class="grid grid-cols-3 md:grid-cols-1 items-center justify-center">
        {% for productLine in data.pieces %}
          <div class="my-4 mx-auto">
            {% if data.page.showProductCardImageAs == 'carousel' %}
              {% if productLine.primaryImage.items | length %}
                {% set attachment = apos.image.first(productLine.primaryImage or {}) %}
                {% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
                {% set altText = attachment.title %}
              {% else %}
                {% set imageUrl = productLine.imageSpec | replace("{dims}.", ".") %}
              {% endif %}
              <swiper-container
                class="th-plp-swiper__container"
                space-between="10"
                navigation="true"
                pagination="false"
                loop="true"
                style="--swiper-navigation-color: #4f4f4f; --swiper-navigation-size: 1.5rem;"
              >
                <swiper-slide>
                  <img
                  class="th-plp__primary_img"
                  src="{{ imageUrl }}"
                  alt="{{ altText }}"
                /></swiper-slide>
                {% for productImage in productLine._images %}
                  {% set imgAttachment = apos.image.first(productImage or {}) %}
                  {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
                  {% set altImageAltText = imgAttachment.title or "product image" %}
                  <swiper-slide>
                    <img
                    class="th-plp__primary_img"
                    src="{{ altImageUrl }}" 
                    alt="{{altImageAltText}}"
                  /></swiper-slide>
                {% endfor %}
              </swiper-container>
            {% endif %}
            <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" cta-label="{{ data.page.ctaLabel }}" link-text="{{ data.page.linkText }}" {{ showLink }} {{ showImage }}></th-product-add-to-cart>
          </div>
        {% endfor %}
      </div>
      {{ pager.render({
        page: data.currentPage,
        total: data.totalPages,
        class: 'product-pager'
      }, data.url
      ) }}
    </div>
  </th-catalog-collection>
{% endblock %}