{# modules/product-line/views/show.html #}
{% extends "layout.html" %}

{% import 'recipe-fragment.html' as recipeFragment %}

{% set item = data.piece %}
{% set altText = item.title %}

{% if item.primaryImage.items | length %}
  {% set attachment = apos.image.first(item.primaryImage or {}) %}
  {% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
  {% set altText = attachment.title %}
{% else %}
  {% set imageUrl = item.imageSpec | replace("{dims}.", ".") %}
{% endif %}


{% block main %}
<section class="th-pdp-content flex flex-row md:flex-col items-start md:items-center justify-center">
  <div class="th-pdp-left">
    <div class="th-pdp-left-content">
      {% if data.page.showPDPImageAs == 'carousel' %}
      {# TODO: see [customization options](https://swiperjs.com/swiper-api#navigation) #}
      <swiper-container
        class="th-pdp-swiper__container"
        thumbs-swiper="#th-pdp-thumbs"
        space-between="10"
        navigation="true"
        pagination="true"
        loop="false"
        style="--swiper-navigation-color: #0f0f0f; --swiper-pagination-color: #0f0f0f;--swiper-navigation-size: 28px;"
      >
        <swiper-slide>
          <div class="th-pdp-img-container">
            <img
            src="{{ imageUrl }}" 
            alt="{{ altText }}"
            />
          </div>
        </swiper-slide>
        {% for productImage in item._images %}
          {% set imgAttachment = apos.image.first(productImage or {}) %}
          {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
          {% set altImageAltText = imgAttachment.title or "product image" %}
          <swiper-slide>
            <div class="th-pdp-img-container">
              <img
              class="th-pdp-left__primary_img"
              src="{{ altImageUrl }}" 
              alt="{{altImageAltText}}"
            /></div>
          </swiper-slide>
        {% endfor %}
      </swiper-container>
      {% if item._images | length %}
      <swiper-container
        id="th-pdp-thumbs"
        class="th-pdp-thumbs"
        space-between="10"
        slides-per-view="5"
        free-mode="true"
        watch-slides-progress="true"
      >
        <swiper-slide class="th-pdp-thumb__slide">
          <img 
          class="th-pdp-thumb__img"
          src="{{ imageUrl }}" 
          alt="{{ altText }}"
        /></swiper-slide>
        {% for productImage in item._images %}
          {% set imgAttachment = apos.image.first(productImage or {}) %}
          {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
          {% set altImageAltText = imgAttachment.title or "product image" %}
          <swiper-slide class="th-pdp-thumb__slide"><img
            class="th-pdp-thumb__img"
            src="{{ altImageUrl }}" 
            alt="{{altImageAltText}}"
          /></swiper-slide>
        {% endfor %}
      </swiper-container>
      {% endif %}
      {% else %}
      <img
        class="th-pdp-left__primary_img"
        src="{{ imageUrl }}" 
        alt="{{ altText }}"
      />
      {% endif %}
    </div>
  </div>
  <div class="th-pdp-right">
    <th-pdp-commerce product-line-id="{{ item.thirstiePLID }}"></th-pdp-commerce>
  </div>
</section>
{% endblock %}
