{# modules/article-page/views/show.html #}
{% extends "layout.html" %}
{% set item = data.piece %}

{% set altText = item.title %}
{% if item.primaryImage.items | length %}
  {% set attachment = apos.image.first(item.primaryImage or {}) %}
  {% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
{% else %}
  {% set imageUrl = item.imageSpec | replace("{dims}.", ".") %}
{% endif %}


{% block main %}
<section class="th-pdp-content flex flex-row md:flex-col items-start md:items-center justify-center">
  <div class="th-pdp-left">
    <img 
      src="{{ imageUrl }}" 
      alt="{{ altText }}"
    />
  </div>
  <div class="th-pdp-right">
    <th-pdp-commerce product-line-id="{{ item.thirstiePLID }}">
    </th-pdp-commerce>
  </div>
</section>
{% endblock %}
