{# modules/product-line/views/show.html #}
{% extends "layout.html" %}

{% import 'macros.html' as macros %}
{% import 'recipe-fragment.html' as recipeFragment %}

{% set item = data.piece %}
{% set altText = item.title %}

{% if item.primaryImage.items | length %}
  {% set attachment = apos.image.first(item.primaryImage or {}) %}
  {% set imageUrl = apos.attachment.url(attachment, { size: 'full' }) %}
  {% set altText = attachment.title %}
{% else %}
  {% set imageUrl = item.imageSpec | replace("{dims}.", ",x600f.") %}
{% endif %}

{% block main %}
{% if data.page and data.page._ancestors.length %}
  <nav class="w-full my-4 mx-2 th-breadcrumb ">
    {% for page in data.page._ancestors %}
      <a href="{{ page._url }}">{{ page.title }}</a>&nbsp;<th-icon icon="chevron-forward" width="14" height="14"></th-icon>
    {% endfor %}
    {% if data.piece %}
      <a href="{{ data.page._url }}">{{ data.page.title }}</a>&nbsp;<th-icon icon="chevron-forward" width="14" height="14"></th-icon>
      <span>{{ data.piece.title }}</span>
    {% else %}
      <span>{{ data.page.title }}</span>
    {% endif %}
  </nav>
{% endif %}
<section class="border-box flex flex-row md:flex-col items-start md:items-center justify-center px-4 th-pdp-content">
  <div class="my-0 mx-auto pt-8 th-pdp-left">
    <div class="flex flex-col items-center th-pdp-left-content ">
      {% if data.page.showPDPImageAs == 'carousel' or (item._images | length > 0) %}
      <swiper-container
        class="th-pdp-swiper__container"
        thumbs-swiper="#th-pdp-thumbs"
        space-between="10"
        navigation="true"
        pagination="true"
        loop="false"
        style="--swiper-navigation-color: #0f0f0f; --swiper-pagination-color: #0f0f0f;--swiper-navigation-size: 28px;"
      >
        <swiper-slide>
          <div class="th-pdp-img-container">
            <img
            src="{{ imageUrl }}" 
            alt="{{ altText }}"
            />
          </div>
        </swiper-slide>
        {% for productImage in item._images %}
          {% set imgAttachment = apos.image.first(productImage or {}) %}
          {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
          {% set altImageAltText = imgAttachment.title or "product image" %}
          <swiper-slide>
            <div class="th-pdp-img-container">
              <img
              class="th-pdp-left__primary_img md:w-screen"
              src="{{ altImageUrl }}" 
              alt="{{altImageAltText}}"
            /></div>
          </swiper-slide>
        {% endfor %}
      </swiper-container>
      {% if item._images | length %}
      <swiper-container
        id="th-pdp-thumbs"
        class="th-pdp-thumbs w-full"
        space-between="10"
        slides-per-view="5"
        free-mode="true"
        watch-slides-progress="true"
      >
        <swiper-slide class="th-pdp-thumb__slide">
          <img 
          class="th-pdp-thumb__img"
          src="{{ imageUrl }}" 
          alt="{{ altText }}"
        /></swiper-slide>
        {% for productImage in item._images %}
          {% set imgAttachment = apos.image.first(productImage or {}) %}
          {% set altImageUrl = apos.attachment.url(imgAttachment, { size: 'full' }) %}
          {% set altImageAltText = imgAttachment.title or "product image" %}
          <swiper-slide class="th-pdp-thumb__slide"><img
            class="th-pdp-thumb__img"
            src="{{ altImageUrl }}" 
            alt="{{altImageAltText}}"
          /></swiper-slide>
        {% endfor %}
      </swiper-container>
      {% endif %}
      {% else %}
      <img
        class="th-pdp-left__primary_img md:w-screen mx-auto"
        src="{{ imageUrl }}" 
        alt="{{ altText }}"
      />
      {% endif %}
    </div>
  </div>
  <div class="th-pdp-right">
    <th-pdp-commerce product-line-id="{{ item.thirstiePLID }}" hide-product-name hide-other-info hide-details-footer>
      <div slot="additional-content">
        <h1 class="th-pdp-right__title">{{ item.title }}</h1>
        {% if data.global.locationType === 'address' %}
          {{ macros.renderAddressAvailabilityInLine() }}
        {% endif %}
      </div>
    </th-pdp-commerce>
    {% if item.description or item.altDescription.items | length %}
    <div class="mt-4 py-4 th-pdp-description">
      <div class="font-bold th-pdp-description__title">Description</div>
      <div class="th-pdp-description__content">
        {% if item.altDescription.items[0].type === "@apostrophecms/rich-text" %}
          {{ apos.area.richText(item.altDescription.items) }}
        {% elif item.altDescription.items[0].type === "@apostrophecms/html" %}
          {{ item.altDescription.items[0].code | safe}}
        {% else %}
          {{ item.description }}
        {% endif %}
      </div>
      {% if item.additionalDescription.items[0].type === "@apostrophecms/rich-text" %}
        <div class="th-pdp-description__content">
          {{ apos.area.richText(item.additionalDescription.items) }}
        </div>
      {% elif item.additionalDescription.items[0].type === "@apostrophecms/html" %}
        <div class="th-pdp-description__content">
          {{ item.additionalDescription.items[0].code | safe}}
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% if item.tastingNotes.items | length %}
    <div class="mt-4 py-4 th-pdp-description">
      <div class="th-pdp-description__title font-bold">Tasting Notes</div>
      <div class="th-pdp-description__content">
        {% if item.tastingNotes.items[0].type === "@apostrophecms/rich-text" %}
          {{ apos.area.richText(item.tastingNotes.items) }}
        {% elif item.tastingNotes.items[0].type === "@apostrophecms/html" %}
          {{ item.tastingNotes.items[0].code | safe}}
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="mt-4 py-4 th-pdp-description">
      <div class="th-pdp-description__content flex flex-row justify-between">
        <div><span class="font-bold">Alc./Vol.</span>&nbsp;&nbsp;<span>{{ apos.modules['theme-widget'].percentString(item.abvPercent) }}</span></div>
        <div><span class="font-bold">Proof</span>&nbsp;&nbsp;<span>{{apos.modules['theme-widget'].decimalString(item.proof) }}</span></div>
      </div>
    </div>

  </div>
</section>

{% if item._productlines | length and not data.page.hideRelatedProductsPDP %}
<h3>Related products</h3>
<div class="flex flex-row md:flex-col items-center justify-center gap-4 m-0 p-8">
  {% for productLine in item._productlines %}
    <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" link-text="Learn more" show-link no-collection></th-product-add-to-cart>
  {% endfor %}
</div>
{% endif %}

{% if item._recipes | length and not data.page.hideRecipesPDP %}
<div class="relative">
  <h3>Featured Cocktails</h3>
  <swiper-container
    class="th-pdp-recipe-swiper"
    navigation="true"
    pagination="false"
    loop="true"
    style="--swiper-navigation-color: #4f4f4f; --swiper-navigation-size: 1.5rem;"
  >
  {% for recipe in item._recipes %}
    <swiper-slide>
      <div class="th-pdp-recipe-card">
        {% render recipeFragment.recipeCardWide(
          recipe,
          {textColor: apos.modules['theme-widget'].convertPreset(data.global.primaryColor), backgroundColor: apos.modules['theme-widget'].convertPreset(data.global.primaryContrastingColor)}
        ) %}
      </div>
    </swiper-slide>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
