<div>
  <h2>{{ data.widget.title }}</h2>
  <th-catalog-collection>
    <div class="my-1 mx-auto px-4 gap-4 w-full th-fouc-block">
      <div class="grid grid-cols-3 md:grid-cols-1 items-center justify-center">
        {% for productLine in data.widget._productlines %}
        <div>
          <th-product-add-to-cart product-line-id="{{ productLine.thirstiePLID }}" pdp-link="{{ productLine._url }}" cta-label="Buy Now"></th-product-add-to-cart>
        </div>
      {% endfor %}
      </div>
    </div>
  </th-catalog-collection>
</div>
