{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  {% set options = data.page %}
  {% set contentMargin = ("margin: " + options.contentMargin) + ";" if options.contentMargin else "" %}
  {% set contentPadding = ("padding: " + options.contentPadding) + ";" if options.contentPadding else "" %}
  {% set contentMaxWidth = ("max-width: " + options.contentMaxWidth) + ";" if options.contentMaxWidth else "" %}
  {% set titleStyle = contentMargin + contentPadding + contentMaxWidth %}

  <section
    style="{{ titleStyle }}"
    class="th-content {{ data.page.contentClass}}"
  >
    {% area data.page, 'main' %}
  </section>
{% endblock %}
