.th-recipe-grid-swiper__container {
  background-color: #FFF;
}
.th-recipe-grid-swiper__container swiper-slide {
  padding: 0 1.875rem;
  display: flex;
  justify-content: flex-start;
  align-items:baseline;
  color: inherit;
  width: auto !important;
}