{% import 'recipe-fragment.html' as recipeFragment %}
{% import 'macros.html' as macros %}

<div>
  {{ macros.renderSectionTitle(data.widget.title, {
    showDivider: data.widget.showDivider,
    textColor: apos.modules['theme-widget'].convertPreset(data.widget.titleTextColor),
    fontFamily: data.widget.titleFontFamily,
    fontSize: data.widget.titleFontSize,
    fontWeight: data.widget.titleFontWeight,
    className: data.widget.titleClassName
  }) }}
  <p>{{ data.widget.subTitle }}</p>
</div>

{% if data.widget.displayType === 'carousel' %}
<swiper-container
  class="th-recipe-grid-swiper__container"
  space-between="10"
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  loop="false"
  style="--swiper-navigation-color: #4f4f4f; --swiper-navigation-size: 1.5rem;"
>
{% for recipe in data.widget._recipes %}
<swiper-slide>
  {% render recipeFragment.recipeCardWide(recipe) %}
</swiper-slide>
{% endfor %}
</swiper-container>

{% endif %}

{% if data.widget.displayType === 'grid' %}

<div class="my-4 mx-auto px-8 md:p-0">
  <div class="grid grid-cols-3 md:grid-cols-1 gap-4 items-start justify-center">
  {% for recipe in data.widget._recipes %}
    {% render recipeFragment.recipeCard(
      recipe,
      {textColor: apos.modules['theme-widget'].convertPreset(data.widget.textColor), backgroundColor: apos.modules['theme-widget'].convertPreset(data.widget.backgroundColor),
      borderRadius: data.widget.borderRadius, imgHeight: data.widget.imgHeight}
    ) %}
  {% endfor %}
  </div>
</div>

{% endif %}
