.th-home {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

.th-home__area {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .th-home {
    margin:0;
  }

  .th-home__area {
    margin-top: 0;
    width:100%;
  }
}